header.header
    .header__logo
        a(href="index.html" target="_selft").header__logo-link
            img(src="static/images/content/logo.svg" alt="Simple Wine").header__logo-img
    nav.header__nav.nav
        button(type="button").nav__button.js-menuOpener Каталог
            
        ul.nav__list
            li.nav__item
                a(href="#" target="_self").nav__link Шампанские и игристые вина
            li.nav__item
                a(href="#" target="_self").nav__link Вина Бордо
            li.nav__item
                a(href="#" target="_self").nav__link Тихие вина
                a(href="#" target="_self").nav__sublink Green Selection
            li.nav__item
                a(href="#" target="_self").nav__link Fine and rare wines
            li.nav__item
                a(href="#" target="_self").nav__link Большое русское вино
            li.nav__item
                a(href="#" target="_self").nav__link Вина высокогорья
            li.nav__item
                a(href="#" target="_self").nav__link Десертные, крепленые вина и саке
            li.nav__item
                a(href="#" target="_self").nav__link Крепкие напитки
                a(href="#" target="_self").nav__sublink Коньяки
                a(href="#" target="_self").nav__sublink Виски
                a(href="#" target="_self").nav__sublink Ром
                a(href="#" target="_self").nav__sublink Текила
                a(href="#" target="_self").nav__sublink Всё остальное
            li.nav__item
                a(href="#" target="_self").nav__link Стекло и винные аксессуары
            li.nav__item
                a(href="#" target="_self").nav__link Премиальные подарочные решения
            li.nav__item
                a(href="#" target="_self").nav__link Корпоративные решения и упаковка
    .header__controls.controls
        button(type="button").controls__btn.controls__btn--search
        button(type="button").controls__btn.controls__btn--wish
        button(type="button").controls__btn.controls__btn--cart
        button(type="button").controls__btn.controls__btn--login
