- var menuLinks = [{name: 'Подменю 1', link: '#'}, {name: 'Подменю 2', link: '#'}]

header.header
    .header__logo
        a(href="index.html" target="_selft").header__logo-link
            img(src="static/images/content/logo.svg" alt="Simple Wine").header__logo-img
    nav.header__nav.nav
        ul.nav__list
            li.nav__item
                a(href="catalog.html" target="_self").nav__link Каталог
                
                ul.nav__submenu
                    for i in menuLinks
                        li.nav__subitem
                            a(href="" +i.link target="_self").nav__sublink=i.name
            li.nav__item
                a(href="swp.html" target="_self").nav__link Simple Wine Prive
    .header__controls.controls
        button(type="button").controls__btn.controls__btn--search
        button(type="button").controls__btn.controls__btn--wish
        button(type="button").controls__btn.controls__btn--cart
        button(type="button").controls__btn.controls__btn--login
