-var navLinks = [{link: '#swp', name: 'SimpleWine Privé'}, {link: '#gifts', name: 'Подарочный сертификат'}, {link: '#custom', name: 'Персонализация'},{link: '#corporate', name: 'Корпоративным клиентам'}, {link: '#order', name: 'Как заказать'}]
-var headBtn = [{link: 'cart.html', name: 'Корзина', type: '--cart'}, {link: 'favorites.html', name: 'Избранное', type: '--wish'}, {link: '', name: 'Контакты', type: '--contacts'}]

header.header
    nav.header__nav.nav
        .nav__logo
            a(href="index.html" target="_self").nav__logo-link
                img(src="static/images/content/s-logo.svg" alt="Simple Wine").nav__logo-img
        .nav__wrap
            ul.nav__list
                for i in navLinks
                    li.nav__list-item
                        a(href="" +i.link target="_self").nav__list-link=i.name
            .nav__city
                .nav__city-select
                    select(id="contactCity" onchange="show()")
                        option(value="msk" selected) Москва
                        option(value="spb") Санкт-Петербург
                        option(value="reg") Регионы
                .nav__city-block.nav__city-block--msk#msk.active
                    a(href="tel:+74955106865" target="_blank").contacts__link +7 495 510 6865
                    a(href="tel:+74955105001*4801" target="_blank").contacts__link +7 495 510 5001, доб. 4801
                .nav__city-block.nav__city-block--spb#spb
                    a(href="tel:+78123631100*4802" target="_blank").contacts__link +7 812 363 1100, доб. 4802
                    a(href="mailto:vip-spb@simple.ru" target="_blank").contacts__link vip-spb@simple.ru
                .nav__city-block.nav__city-block--reg#reg
                    a(href="tel:+74955105001*2430" target="_blank").contacts__link +7 495 510 5001, доб. 2430
                    a(href="mailto:vip-region@simple.ru" target="_blank").contacts__link vip-region@simple.ru
                .nav__city-social
                    a(href="tel:+78007005001*5001" target="_blank").contacts__link.--social 8 800 700 5001 *5001&nbsp;(с мобильного)
                    ul.contacts__social
                        li.contacts__social-item
                            a(href="#" target="_blank").contacts__social-link.fb
                                i.fab.fa-facebook-f
                        li.contacts__social-item
                            a(href="#" target="_blank").contacts__social-link.in
                                i.fab.fa-instagram
        .nav__controls
            ul.nav__controls-list
                for i in headBtn
                    li(class="nav__controls-item " +i.type)
                        a(href="" +i.link target="_self" class="nav__controls-link " +i.type)=i.name
            button(type="button").nav__catalog.js-catalog Каталог
            button(type="button").nav__opener.js-opener
        .nav__menu.menu
            ul.menu__list
                li.menu__item
                    a(href="#" target="_self").menu__link Шампанские и игристые вина
                li.menu__item
                    a(href="#" target="_self").menu__link Вина Бордо
                li.menu__item
                    a(href="#" target="_self").menu__link Fine & Rare Wines
                li.menu__item
                    a(href="catalog.html" target="_self").menu__link Тихие вина
                    .menu__item-inner
                        a(href="#" target="_self").menu__sublink Франция
                        a(href="#" target="_self").menu__sublink Италия
                        a(href="#" target="_self").menu__sublink Старый свет
                        a(href="#" target="_self").menu__sublink Новый свет
                li.menu__item
                    a(href="#" target="_self").menu__link Большое Русское Вино
                li.menu__item
                    a(href="#" target="_self").menu__link Вина Высокогорья
                li.menu__item
                    a(href="#" target="_self").menu__link Десертные, крепленые вина и саке
                li.menu__item
                    a(href="#" target="_self").menu__link Крепкие напитки
                li.menu__item
                    a(href="#" target="_self").menu__link Бокалы и винные аксессуары
                li.menu__item
                    a(href="#" target="_self").menu__link Премиальные подарочные решения
                li.menu__item
                    a(href="#" target="_self").menu__link Корпоративные подарки и упаковка
        .nav__contacts
            .contacts__block
                h3.contacts__title Москва
                a(href="tel:+74955106865" target="_blank").contacts__link +7 495 510 6865
                a(href="tel:+74955105001*4801" target="_blank").contacts__link +7 495 510 5001, доб. 4801

            .contacts__block
                h3.contacts__title Санкт-Петербург
                a(href="tel:+78123631100*4802" target="_blank").contacts__link +7 812 363 1100, доб. 4802
                a(href="mailto:vip-spb@simple.ru" target="_blank").contacts__link vip-spb@simple.ru

            .contacts__block
                h3.contacts__title Регионы России
                a(href="tel:+74955105001*2430" target="_blank").contacts__link +7 495 510 5001, доб. 2430
                a(href="mailto:vip-region@simple.ru" target="_blank").contacts__link vip-region@simple.ru

            .contacts__block
                ul.contacts__social
                    li.contacts__social-item
                        a(href="#" target="_blank").contacts__social-link.fb
                            i.fab.fa-facebook-f
                    li.contacts__social-item
                        a(href="#" target="_blank").contacts__social-link.in
                            i.fab.fa-instagram
                a(href="tel:+78007005001*5001" target="_blank").contacts__link.--social 8 800 700 5001 *5001&nbsp;(с мобильного)
