section.catalog
    .catalog__body
        
        ul.catalog__list
            
            +itemCard('catalog__item', 'Château Lafleur', '(Pomerol)', 'itemcard.html', 'bottle-1', '2-7', '123456(*)', '123457(**)', '*1999, ', '**2018', '0.75 л', 'Château Lafleur', 'Франция, Бордо')
