section.corporate#corporate
    .corporate__wrapper
        h2.corporate__title Корпоративным клиентам
        
        .corporate__body
            .corporate__info
                p.corporate__description Ведущие компании России выбирают Simple как самого надёжного поставщика качественных вин, крепких спиртных и безалкогольных напитков, винных аксессуаров для корпоративных мероприятий и подарочных решений.
                p.corporate__description Персональный подход к подбору напитков и широкий спектр сопутствующих услуг помогают эффективно решать бизнес-задачи корпоративных клиентов.
                
            .corporate__services
                h3.corporate__services-title Услуги
                ul.corporate__services-list
                    li.corporate__services-item
                        b.corporate__services-name Подарочные решения
                        p.corporate__services-text Мы готовы предложить различные варианты корпоративных подарков, от сувенирных наборов до комплексных решений с вином — всё для того, чтобы вы могли порадовать партнёров, клиентов и сотрудников, оставаясь при этом в рамках бюджета.
                    li.corporate__services-item
                        b.corporate__services-name Интеграция в мероприятия
                        p.corporate__services-text Мы знаем, как добавить винную лекцию с дегустацией в любое внутрикорпоративное или внешнее мероприятие. Вино и тематика подбираются индивидуально, а наши эксперты легко найдут общий язык как с начинающими, так и с продвинутыми ценителями.
                    li.corporate__services-item
                        b.corporate__services-name Партнерские программы
                        p.corporate__services-text Ваши сотрудники, клиенты и бизнес-партнёры получат эксклюзивный доступ ко всей экосистеме Simple. Наши программы — это специальные условия в винотеках, интернет-витрине SimpleWine и ресторане Grand Cru, а также услуги персонального менеджера: поиск редких вин и работа с индивидуальными запросами.
            .corporate__person
                picture.corporate__photo
                    source(media="(min-width: 720px)" srcset="static/images/content/elena.webp" type="image/webp")
                    source(media="(min-width: 720px)" srcset="static/images/content/elena.jpg" type="image/webp")
                    source(srcset="static/images/content/elena-mob.webp" type="image/webp")
                    img(src="static/images/content/elena-mob.jpg" alt="Елена Царёва").corporate__photo-image
                h3.corporate__name Елена Царёва
                b.corporate__position Директор по стратегическому развитию направления В2С
                p.corporate__about За последние несколько лет рынок вина изменился до неузнаваемости: клиенты стали гораздо более эрудированными, заинтересованными и, говоря современным языком, продвинутыми. Опыт и положение на рынке позволяют нам реализовывать самые сложные клиентские запросы. 
                p.corporate__about Компания Simple хорошо знакома покупателю и рынку — за нашими плечами 25 лет успешной работы. Своим клиентам мы предлагаем целый спектр услуг самого высокого уровня — консультации персонального менеджера, формирование подарочных решений, персонализацию продукции, подключение партнёрской программы, доступ к редким винам и создание винной коллекции.
