section.custom#custom
    .custom__wrapper
        h2.custom__title Персонализация
        p.custom__description Мы предлагаем широкий спектр услуг по нанесению логотипов и надписей на деревянную и картонную упаковку, а также на стекло, винные аксессуары и ведерки для шампанского. Брендирование может быть выполнено в различных техниках: шелкография, деколирование, тиснение и т.д.
        
        .custom__contents
            .custom__slider.custom-swiper
                .swiper-wrapper
                    .custom__item.custom__item--1.swiper-slide
                        h3.custom__name Персонализация на дереве
                        picture.custom__frame
                            source(srcset="static/images/content/custom-1.webp")
                            img(src="static/images/content/custom-1.png" alt="").custom__frame-image
                        ul.custom__list
                            li.custom__list-item
                                span.custom__list-description тиснение
                            li.custom__list-item
                                span.custom__list-description лазерная гравировка
                            li.custom__list-item
                                span.custom__list-description шелкография
                            li.custom__list-item
                                span.custom__list-description струйная печать
                            li.custom__list-item
                                span.custom__list-description гравировка на шильдах
                    .custom__item.custom__item--2.swiper-slide
                        h3.custom__name Персонализация на ведерках для шампанского, аксессуарах, стекле
                        picture.custom__frame
                            source(srcset="static/images/content/custom-2.webp")
                            img(src="static/images/content/custom-2.png" alt="").custom__frame-image
                        ul.custom__list
                            li.custom__list-item
                                span.custom__list-description шелкография
                            li.custom__list-item
                                span.custom__list-description лазерная гравировка
                            li.custom__list-item
                                span.custom__list-description пескоструйная гравировка
                            li.custom__list-item
                                span.custom__list-description деколирование
                            li.custom__list-item
                                span.custom__list-description тампография
                    .custom__item.custom__item--3.swiper-slide
                        .custom__details
                            h3.custom__name Персонализация картонной упаковки и пакетов
                            p.custom__about Компания Simple предлагает услуги по разработке уникального дизайна для различных видов упаковки, шуберов или пакетов. По вашему желанию мы можем разработать индивидуальный дизайн, посвященный праздничному событию или мероприятию, разместить поздравительный текст или слоган, элементы брендинга и логотип вашей компании.
                            p.custom__about Благодаря эксклюзивному дизайну, возможности размещения любых текстов и элементов, а также нашему креативному подходу ваш подарок станет неповторимым и незабываемым.
                            p.custom__about Подробную информацию уточняйте у персонального менеджера.
                        .custom__visual
                            picture.custom__frame
                                source(srcset="static/images/content/custom-3.webp")
                                img(src="static/images/content/custom-3.png" alt="").custom__frame-image
                            ul.custom__list
                                li.custom__list-item
                                    span.custom__list-description персонификация пакетов
                                li.custom__list-item
                                    span.custom__list-description шелкография
                                li.custom__list-item
                                    span.custom__list-description печать на ленте
                    .custom__item.custom__item--4.swiper-slide
                        .custom__details
                            h3.custom__name Персонализация этикеток
                            p.custom__about Компания Simple также предлагает услуги по нанесению персонифицированных авторских этикеток на продукты из ассортимента компании.
                            p.custom__about За разработкой дизайна вы можете обратиться к специалистам компании Simple. А кроме того, у вас есть возможность создать ее самостоятельно с помощью нашего «Конструктора этикеток» на сайте 
                                a(href="https://www.simple.ru" target="_blank") www.simple.ru
                                | .
                            p.custom__about Подробную информацию уточняйте у персонального менеджера.
                        .custom__visual
                            picture.custom__frame
                                source(srcset="static/images/content/custom-4.webp")
                                img(src="static/images/content/custom-4.png" alt="").custom__frame-image
                            ul.custom__list
                                li.custom__list-item
                                    span.custom__list-description персонализированная этикетка и некхенгер
            button(type="button").custom__prev
            button(type="button").custom__next
