section.gift#gifts
    .gift__wrapper
        .gift__info
            h2.gift__title 
                a(href="https://simplewine.ru/prive/corporate-2021/" target="_blank") Подарочный сертификат
            p.gift__description Подарите друзьям и партнёрам их любимые вина из портфеля Simple
            ul.gift__list
                li.gift__item.icon-1
                    span Виртуальная карта, которую удобно дарить — просто отправьте её близкому человеку с помощью электронной почты 
                li.gift__item.icon-2
                    span Сертификаты различных номиналов
                li.gift__item.icon-3
                    span Премиальная упаковка
                li.gift__item.icon-4
                    span Помощь и консультации персонального менеджера для держателя сертификата
                li.gift__item.icon-5
                    span Доставка подарка по Москве и Московской области
                    
        picture.gift__frame
            source(srcset="static/images/content/phone-mock 1.webp")
            img(src="static/images/content/phone-mock 1.png" alt="Gift Mockup").gift__frame-image
