section.gift-sert
    .gift-sert__wrapper
        h2.gift-sert__title Подарочный сертификат
        p.gift-sert__description Подарите друзьям и партнёрам их любимые вина из портфеля Simple
        
        .gift-sert__body
            picture.gift-sert__frame
                source(srcset="static/images/content/mock.webp")
                img(src="static/images/content/mock.png" alt="Gift Mockup").gift-sert__frame-image
            ul.gift-sert__list
                li.gift-sert__item.icon-1
                    span Виртуальная карта, которую удобно дарить — просто отправьте её близкому человеку с помощью электронной почты 
                li.gift-sert__item.icon-2
                    span Сертификаты различных номиналов
                li.gift-sert__item.icon-3
                    span Премиальная упаковка
                li.gift-sert__item.icon-4
                    span Помощь и консультации персонального менеджера для держателя сертификата
                li.gift-sert__item.icon-5
                    span Доставка подарка по Москве и Московской области
            img(src="static/images/content/gift-qr.svg" alt="Gift QR-code").gift-sert__qr
