<!--Блок приветственного текста от компании-->
section.greeting
    .greeting__wrapper
        .greeting__info
            h2.greeting__title Дорогие друзья!
            p.greeting__description В этом году мы начинали работу над нашим каталогом с большим вдохновением и надеждой на то, что 2022 год принесет нам что-то совершенно новое и прекрасное.
            p.greeting__description Мир продолжает меняться и все больше ускоряется под влиянием текущих событий. Поэтому мы все чаще начинаем ценить самые простые вещи, которые раньше казались обыденными: сходить с друзьями в ресторан, внезапно «сорваться» на романтические выходные в Европу, посетить матч любимой команды или выставку, «зажечь» на танцполе многолюдной вечеринки.
            p.greeting__description Все, что мы представляем в каталоге Simple 2021|2022, совершенно и одновременно просто. Совершенно — благодаря усилиям мастеров, создавших эти винные и не винные шедевры. Просто — благодаря возможности с помощью любой позиции из каталога превратить обыденную ситуацию в праздник.
            p.greeting__description Великие вина Бордо и Бургундии, современные воплощения старинных винодельческих традиций Италии, уникальные крепкие напитки со всего света и тончайшие бокалы, способные удивлять не меньше, чем самое лучшее вино.
            p.greeting__description Выбирайте и наполняйте простые моменты красотой и радостью.
            span.greeting__sign Искренне ваш, Simple
        picture.greeting__frame
            source(type="image/webp" media="(min-width: 1366px" srcset="static/images/content/greeting-preview-desktop.webp")
            source(type="image/webp" media="(min-width: 720px" srcset="static/images/content/greeting-preview-tablet.webp")
            source(type="image/webp" srcset="static/images/content/greeting-preview-mobile.webp")
            source(media="(min-width: 1366px" srcset="static/images/content/greeting-preview-desktop.jpg")
            source(media="(min-width: 720px)" srcset="static/images/content/greeting-preview-tablet.jpg")
            img(itemprop="image" src="static/images/content/greeting-preview-mobile.jpg").greeting__frame-image
