section.gs
    .gs__wrapper
        .gs__details
            img(src="static/images/content/gs-logo.svg" alt="Green Selection logo").gs__logo
        
            p.gs__description
                b Green Selection
                | &mdash; это уникальная коллекция вин и крепкого алкоголя компании Simple, которая выходит за привычные рамки и предлагает свой оригинальный взгляд на виноделие: органический (organic), биодинамический (biodynamic) и природосообразный (sustainable).
            
            ul.gs__list
                li.gs__item
                    span.gs__icon
                    p.gs__item-text Официальные сертификаты международных организаций
                li.gs__item
                    span.gs__icon
                    p.gs__item-text Наслаждение с пользой для природы и собственного здоровья
                li.gs__item
                    span.gs__icon
                    p.gs__item-text Этим значком отмечены вина, созданные с заботой об окружающей среде и здоровье человека
        .gs__graph
            b.gs__note Пробуйте разное, находите любимое!
            img(src="static/images/content/swlogo.svg" alt="SimpleWine").gs__sw-logo
