section.gs
    .gs__wrapper
        a(href="" target="_blank").gs__link
            img(src="static/images/content/gs-logo.svg" alt="Green Selection logo").gs__link-logo
        
        p.gs__description Green Selection — это уникальная коллекция вин и крепкого алкоголя компании Simple, которая выходит за привычные рамки и предлагает свой оригинальный взгляд на виноделие: органический (organic), биодинамический (biodynamic) и природосообразный (sustainable).
    
        ul.gs__list
            li.gs__list-item
                span.gs__list-icon
                p.gs__list-text Официальные сертификаты международных организаций
            li.gs__list-item
                span.gs__list-icon
                p.gs__list-text Наслаждение с пользой для природы и собственного здоровья
            li.gs__list-item
                span.gs__list-icon
                p.gs__list-text Этим значком отмечены вина, созданные с заботой об окружающей среде и здоровье человека
        p.gs__subtitle Пробуйте разное, находите любимое!
