<!--Блок интро главной страницы-->
section.intro
    .intro__wrapper
        h1.intro__title Каталог подарков
        .intro__annual
            span 21
            span 22
        picture.intro__frame
            source(type="image/webp" srcset="static/images/content/intro-bg.webp")
            img(set="static/images/content/intro-bg.jpg").intro__frame-image
