<!--Блок интро главной страницы-->
section.intro
    .intro__wrapper
        h1.intro__title Каталог подарков
        .intro__annual
            span 21
            span 22
        picture.intro__frame
            source(media="(min-width: 720px)" type="image/webp" srcset="static/images/content/intro-bg.webp")
            source(media="(min-width: 720px)" srcset="static/images/content/intro-bg.jpg")
            source(type="image/webp" srcset="static/images/content/intro-bg-mob.webp")
            img(src="static/images/content/intro-bg-mob.jpg").intro__frame-image
