section.offer
    .offer__slider.swiper-container-offer
        .swiper-wrapper
            +offerSlide('offer-1')
            +offerSlide('offer-2')
            +offerSlide('offer-3')
            +offerSlide('offer-4')
            +offerSlide('offer-5')
            +offerSlide('offer-6')
        .swiper-pagination
