section.how-order
    h2.how-order__title Заказать вино просто
    
    .how-order__wrapper
        ul.how-order__heading
            li.how-order__heading-item
                img(src="static/images/content/swine-logo.svg" alt="SimpleWine").how-order__heading-image
            li.how-order__heading-item
                img(src="static/images/content/swp-logo.svg" alt="SimpleWinePrive").how-order__heading-image
            li.how-order__heading-item
                img(src="static/images/content/simple-logo.svg" alt="Simple").how-order__heading-image
        .how-order__content
            .how-order__body.first
                h3.how-order__name В винотеке SimpleWine
                ul.how-order__list 
                    li.how-order__item
                        span Найдите близлежащую винотеку на 
                            a(href="https://www.simplewine.ru/nashi-vinoteki" target="_blank") simplewine.ru/nashi-vinoteki
                    li.how-order__item
                        span Кавист поможет определиться с выбором
                    li.how-order__item
                        span Вам упакуют заказ и помогут донести его до машины
            .how-order__body.second
                h3.how-order__name Онлайн-витрина
                ul.how-order__list
                    li.how-order__item
                        span Выбирайте лучшее на 
                            a(href="https://www.simplewine.ru" target="_blank") simplewine.ru
                    li.how-order__item
                        span После оформления заказа оператор позвонит Вам для подтверждения
                    li.how-order__item
                        span Получите заказ в винотеке SimpleWine удобным для Вас способом
            .how-order__body.third
                h3.how-order__name У персонального менеджера
                span.how-order__info (для членов клуба)
                ul.how-order__list 
                    li.how-order__item
                        span 
                            | Позвоните 
                            a(href="tel:+74955106865" target="_blank") +7 495 510 6865 
                            | или напишите: 
                            a(href="mailto:vip@simple.ru" target="_blank") vip@simple.ru
                    li.how-order__item
                        span Менеджер поможет определиться с выбором
                    li.how-order__item
                        span Получите заказ удобным для Вас способом
            .how-order__body.fourth
                h3.how-order__name У корпоративного менеджера
                ul.how-order__list 
                    li.how-order__item
                        span 
                            | Позвоните 
                            a(href="tel:+74955106865" target="_blank") +7 495 510 6865 
                            | или напишите: 
                            a(href="mailto:vip@simple.ru" target="_blank") vip@simple.ru
                    li.how-order__item
                        span Менеджер поможет определиться с выбором
                    li.how-order__item
                        span Получите заказ удобным для Вас способом

    b.how-order__subtitle Все вина можно заказать в подарочной упаковке.
    p.how-order__note * Подробности уточняйте у менеджера по телефону.
    p.how-order__note Simple не осуществляет дистанционную продажу алкогольной продукции, как того требует действующее законодательство РФ.
