.popup-age
    .popup-age__wrapper
        b.popup-age__nr 18+
        b.popup-age__title Для доступа на сайт необходимо подтвердить возраст
        p.popup-age__description Сайт содержит информацию, не рекомендованную для лиц, не достигших совершеннолетнего возраста. Сведения, размещённые на сайте, носят исключительно информационный характер и предназначены только для личного использования
        button(type="submit").popup-age__submit Мне исполнилось 18 лет
