.popup-rules
    p.popup-rules__description Мы используем cookie для персонализации сервисов и удобства пользователей. Ознакомьтесь с нашей 
        a(href="https://simplewine.ru/privacy_policy/" target="_blank") политикой конфиденциальности
        | .
    button(type="submit").popup-rules__submit Согласен
