.popup-reaction
    .popup-reaction__wrapper
        button(type="button").popup-reaction__closer
        
        p.popup-reaction__description Спасибо за оформление заказа! 
        p.popup-reaction__description Наш сотрудник свяжется с вами в ближайшее время
        
        a(href="catalog.html" target="_self").popup-reaction__link Вернуться в каталог
