.popup-contacts
    .popup-contacts__wrapper
        button(type="button").popup-contacts__closer
        
        .popup-contacts__list
            .contacts__block
                h3.contacts__title Москва
                a(href="tel:+74955106865" target="_blank").contacts__link +7 495 510 6865
                a(href="tel:+74955105001*4801" target="_blank").contacts__link +7 495 510 5001, доб. 4801
                
            .contacts__block
                h3.contacts__title Санкт-Петербург
                a(href="tel:+78123631100*4802" target="_blank").contacts__link +7 812 363 1100, доб. 4802
                a(href="mailto:vip-spb@simple.ru" target="_blank").contacts__link vip-spb@simple.ru
                
            .contacts__block
                h3.contacts__title Регионы России
                a(href="tel:+74955105001*2430" target="_blank").contacts__link +7 495 510 5001, доб. 2430
                a(href="mailto:vip-region@simple.ru" target="_blank").contacts__link vip-region@simple.ru
                
            .contacts__block
                ul.contacts__social
                    li.contacts__social-item
                        a(href="#" target="_blank").contacts__social-link.fb
                            i.fab.fa-facebook-f
                    li.contacts__social-item
                        a(href="#" target="_blank").contacts__social-link.in
                            i.fab.fa-instagram
                a(href="tel:+78007005001*5001" target="_blank").contacts__link.--social 8 800 700 5001 *5001&nbsp;(с мобильного)
