.popup-rules
    p.popup-rules__description Мы используем cookie для персонализации сервисов и удобства пользователей. Ознакомьтесь с нашей 
        a(href="https://simplewine.ru/privacy_policy/" target="_blank") политикой конфиденциальности
        | .
    .popup-rules__check
        input(type="checkbox" name="age-confirm" id="age-confirm" required).popup-rules__checkbox
        label(for="age-confirm").popup-rules__label Подтверждаю, что мне исполнилось 18 лет
    button(type="submit").popup-rules__submit Согласен
