section.preview
    .preview__wrapper
        .preview__info
            h1.preview__title Шампанские и игристые вина
            p.preview__description Помимо терруара, один из главных факторов, определяющих характер игристого вина — это способ его производства. Игристые, сделанные по классическому методу, когда вторичное брожение проходит прямо в бутылках, чаще всего имеют в аромате соблазнительные оттенки хлебных тостов и бриоши. Самый известный и уважаемый представитель этой категории – шампанское, однако у него есть и родственники. В других регионах Франции подобным образом делают креманы, в Испании — каву, а в Италии — франчакорту. Другой метод производства, Шарма, подразумевает вторичную ферментацию в больших стальных резервуарах и дарит игристым яркие фруктовые и цветочные ароматы без присутствия дрожжевых тонов. В частности, именно так в Италии производят универсальное и многими любимое просекко.
        picture.preview__frame
            source(type="image/webp" media="(min-resolution: 384dpi), (-webkit-min-device-pixel-ratio: 3)" srcset="static/images/content/preview-image@3x.webp 3x" sizes="100vw")
            source(type="image/webp" media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)" srcset="static/images/content/preview-image@2x.webp 2x" sizes="100vw")
            source(type="image/webp" srcset="static/images/content/preview-image@1x.webp" sizes="100vw")
            source(media="(min-resolution: 384dpi), (-webkit-min-device-pixel-ratio: 3)" srcset="static/images/content/preview-image@3x.png 3x" sizes="100vw")
            source(media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)" srcset="static/images/content/preview-image@2x.png 2x" sizes="100vw")
            img(itemprop="image" src="static/images/content/preview-image@1x.png" sizes="100vw").preview__frame-image
