section.preview
    picture.preview__frame
        source(media="(min-width: 720px)" srcset="static/images/content/preview-image-1.webp" type="image/webp")
        source(media="(min-width: 720px)" srcset="static/images/content/preview-image-1.jpg" type="image/webp")
        source(srcset="static/images/content/preview-image-1-mob.webp" type="image/webp")
        img(itemprop="image" src="static/images/content/preview-image-1-mob.jpg" sizes="100vw" alt="Тихие вина").preview__frame-image

    .preview__wrapper        
        .preview__info
            h1.preview__title Тихие вина
            p.preview__description Мы предлагаем широкий спектр услуг по нанесению логотипов и надписей на деревянную и картонную упаковку, а также на стекло, винные аксессуары и ведерки для шампанского. Брендирование может быть выполнено в различных техниках: шелкография, деколирование, тиснение и т. д
