section.swp
    .swp__wrapper
        a(href="#" target="_blank").swp__link
            img(src='static/images/content/swp-logo.svg' alt="Simple Wine Prive").swp__link-image
        .swp__details
            p.swp__details-head 
                | Клиентам 
                a(href="" target="_blank") SimpleWine Privé 
                | доступны услуги самого  высокого уровня — обслуживание у персонального менеджера, консультации винных экспертов, доступ к редким винам, аудит погреба и создание винной коллекции, формирование подарочных решений.
            p.swp__details-description Доверие постоянных клиентов вдохновило нас на создание нового сервиса с исключительными возможностями. Компания Simple представляет закрытый винный клуб SimpleWine Privé.
        ul.swp__list
            +priveListItem('Индивидуальные цены и условия в соответствии со статусом', 'icon-1')
            +priveListItem('Обслуживание у персонального менеджера (24/7)', 'icon-2')
            +priveListItem('Участие в закрытых дегустациях и организация винных ужинов «под ключ»', 'icon-3')
            +priveListItem('Консультации ведущих экспертов и доступ к редким коллекционным релизам', 'icon-4')
            +priveListItem('Доступ к кампании En Primeur', 'icon-5')
            +priveListItem('Создание и сопровождение винных коллекций', 'icon-6')
            +priveListItem('Организация туров в винные хозяйства по всему миру', 'icon-7')
            +priveListItem('Индивидуальный подход к созданию подарочных решений и персональный винный wishlist', 'icon-8')
            +priveListItem('Специальные цены во всех точках продаж Simple', 'icon-9')    
    
    .swp__slider.swp-slider
        .swp-slider__wrapper.swiper-container
            .swiper-wrapper
                .swp-slider__item.swiper-slide
                    .swp-slider__info
                        b.swp-slider__title Создание и аудит винных коллекций
                        p.swp-slider__head Любая винная коллекция нуждается в правильных условиях хранения, особенно когда речь заходит о винах, предназначенных для длительной выдержки. Эксперты SimpleWine Privé  предложат клиентам весь спектр систем хранения: от винного шкафа до проектирования, строительства и обслуживания винных погребов. 
                        p.swp-slider__description Для владельцев винных коллекций разработан комплекс профессиональных услуг «Винный аудит». После тщательного осмотра коллекции эксперт предоставит подробный отчет, включающий в себя советы по наилучшей организации пространства, таймлайн дегустаций, оценку стоимости и рекомендации по развитию.
                    picture.swp-slider__frame
                        source(srcset="static/images/content/swp-option-1.webp" type="image/webp")
                        img(src="static/images/content/swp-option-1.jpg" alt="").swp-slider__frame-image
                .swp-slider__item.swiper-slide
                    .swp-slider__info
                        b.swp-slider__title Организация частных дегустаций и винных ужинов
                        p.swp-slider__description Ведущие эксперты Simple организуют дегустацию «под ключ» и интегрируют ее в любое праздничное событие:
                        ul.swp-slider__list
                            li
                                p.swp-slider__description подберут винные сеты, интересные как начинающим ценителям, так и профессионалам с самым серьёзным опытом
                            li
                                p.swp-slider__description проведут дегустацию или винный ужин для любого количества участников
                            li
                                p.swp-slider__description помогут с выбором площадки для любого формата
                    picture.swp-slider__frame
                        source(srcset="static/images/content/swp-option-2.webp" type="image/webp")
                        img(src="static/images/content/swp-option-2.jpg" alt="").swp-slider__frame-image
                .swp-slider__item.swiper-slide
                    .swp-slider__info
                        b.swp-slider__title Поздравим от&nbsp;вашего имени
                        p.swp-slider__head Если у вас нет возможности вручить подарок лично, персональный менеджер SimpleWine Privé сделает это за вас: поможет выбрать идеальное подарочное решение для бизнес-партнёра, сотрудника или близкого человека, оформит открытку от вашего имени и обеспечит получение подарка в нужное время и в удобном месте.
                    picture.swp-slider__frame
                        source(srcset="static/images/content/swp-option-3.webp" type="image/webp")
                        img(src="static/images/content/swp-option-3.jpg" alt="").swp-slider__frame-image
        button(type="button").swp-slider__prev
        button(type="button").swp-slider__next
