section.swp
    .swp__wrapper
        .swp__left
            picture.swp__frame
                source(type="image/webp" media="(min-width: 1280px" srcset="static/images/content/swp-desktop.webp")
                source(type="image/webp" media="(min-width: 720px" srcset="static/images/content/swptablet.webp")
                source(type="image/webp" srcset="static/images/content/swp-mobile.webp")
                source(media="(min-width: 1280px" srcset="static/images/content/swp-desktop.jpg")
                source(media="(min-width: 720px)" srcset="static/images/content/swp-tablet.jpg")
                img(itemprop="image" src="static/images/content/swp-mobile.jpg").swp__frame-image
            .swp__info
                img(src="static/images/content/swp-logo.svg" alt="Simple Wine Prive").swp__info-logo
                p.swp__description Доверие постоянных клиентов вдохновило нас на создание нового сервиса с исключительными возможностями. Компания Simple представляет закрытый винный клуб SimpleWine Privé.
        .swp__right
            .swp__head
                picture.swp__head-frame
                    source(type="image/webp" srcset="static/images/content/swp-head-image.webp")
                    img(itemprop="image" src="static/images/content/swp-head-image.jpg").swp__head-image
                p.swp__description Клиентам SimpleWine Privé доступны услуги самого  высокого уровня — обслуживание у персонального менеджера, консультации винных экспертов, доступ к редким винам, аудит погреба и создание винной коллекции, формирование подарочных решений.
            ul.swp__list
                +priveListItem('Индивидуальные цены и условия в соответствии со статусом', 'icon-1')
                +priveListItem('Обслуживание у персонального менеджера (24/7)', 'icon-2')
                +priveListItem('Участие в закрытых дегустациях и организация винных ужинов «под ключ»', 'icon-3')
                +priveListItem('Консультации ведущих экспертов и доступ к редким коллекционным релизам', 'icon-4')
                +priveListItem('Доступ к кампании En Primeur', 'icon-5')
                +priveListItem('Создание и сопровождение винных коллекций', 'icon-6')
                +priveListItem('Организация туров в винные хозяйства по всему миру', 'icon-7')
                +priveListItem('Индивидуальный подход к созданию подарочных решений и персональный винный wishlist', 'icon-8')
                +priveListItem('Специальные цены во всех точках продаж Simple', 'icon-9')
            .swp__bottom
                p.swp__description Чтобы стать участником SimpleWine Privé и получить доступ ко всем привилегиям, свяжитесь с персональным менеджером или оставьте заявку, отсканировав QR-код.
                img(src="static/images/content/swp-qr.svg" alt="SWP QR-code").swp__qr
