section.to-catalog#wines
    .to-catalog__wrapper
        h2.to-catalog__title Вина Бордо
        ul.to-catalog__list
            +itemCard('', 'Château Lafleur', '', '(Pomerol)', 'itemcard.html', 'bordo-2-7', '2-7', '104283', '99538', '2006, ', '1996', '0.75 л', 'Château Lafleur', 'Франция, Бордо')
            +itemCard('', 'Château Cheval Blanc', '1er Grand Cru Classé A', '(Saint-Émilion)', '', 'bordo-2-8', '2-8', '114258', '108334', '2007, ', '1999', '0.75 л', 'Château Cheval Blanc', 'Франция, Бордо')
            +itemCard('single', 'Château Angélus', '1er Grand Cru Classé A', '(Saint-Émilion)', 'itemcard.html', 'bordo-2-9', '2-9', '96876', '', '2012', '', '0.75 л', 'Château Angélus', 'Франция, Бордо')
            //+itemCard('single', 'Château Rocheyron', '1er Grand Cru Classé B', '(Saint-Émilion)', 'itemcard.html', 'bordo-2-10', '2-10', '102373', '', '2015', '', '0.75 л', 'Château Rocheyron', 'Франция, Бордо')
            //+itemCard('single', 'Château Ducru-Beaucaillou', '2ème Grand Cru Classé', '(Saint-Julien)', 'itemcard.html', 'bordo-2-11', '2-11', '108199', '', '2012', '', '0.75 л', 'Château Ducru-Beaucaillou', 'Франция, Бордо')
            //+itemCard('single', 'Château Les Carmes Haut-Brion', '', '(Pessac-Léognan)', 'itemcard.html', 'bordo-2-12', '2-12', '108447', '', '2016', '', '0.75 л', 'Château Les Carmes Haut-Brion', 'Франция, Бордо')
        a(href="#" target="_self").to-catalog__link В каталог
