include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    body
        include ../modules/header/header
        main.main
            section.itemcard
                +breadcrumb([["Главная ", "/index.html"], ["Шампанские и игристые вина ", "#"], ["Chateau Cheval Blanc ", "#"]])

                article.itemcard__wrapper
                    <!--Изображения-->
                    section.itemcard__gallery.gallery
                        .gallery__slider.swiper-container.gallery-top
                            .swiper-wrapper
                                .gallery__item.swiper-slide
                                    picture.gallery__frame
                                        source(type="image/webp" srcset="static/images/content/bottle-1.webp" )
                                        img(itemprop="image" src="static/images/content/bottle-1.png").gallery__frame-image
                                .gallery__item.swiper-slide
                                    picture.gallery__frame
                                        source(type="image/webp" srcset="static/images/content/bottle-1.webp" )
                                        img(itemprop="image" src="static/images/content/bottle-1.png").gallery__frame-image
                                .gallery__item.swiper-slide
                                    picture.gallery__frame
                                        source(type="image/webp" srcset="static/images/content/bottle-1.webp" )
                                        img(itemprop="image" src="static/images/content/bottle-1.png").gallery__frame-image
                                .gallery__item.swiper-slide
                                    picture.gallery__frame
                                        source(type="image/webp" srcset="static/images/content/bottle-1.webp" )
                                        img(itemprop="image" src="static/images/content/bottle-1.png").gallery__frame-image
                                .gallery__item.swiper-slide
                                    picture.gallery__frame
                                        source(type="image/webp" srcset="static/images/content/bottle-1.webp" )
                                        img(itemprop="image" src="static/images/content/bottle-1.png").gallery__frame-image
                                .gallery__item.swiper-slide
                                    picture.gallery__frame
                                        source(type="image/webp" srcset="static/images/content/bottle-1.webp" )
                                        img(itemprop="image" src="static/images/content/bottle-1.png").gallery__frame-image
                            .fraction-pagination
                        .gallery__slider.swiper-container.gallery-thumbs
                            .swiper-wrapper
                                .gallery__item.gallery__item--thumb.swiper-slide
                                    picture.gallery__frame.gallery__frame--thumb
                                        source(type="image/webp" srcset="static/images/content/bottle-1.webp" )
                                        img(itemprop="image" src="static/images/content/bottle-1.png").gallery__frame-image.gallery__frame-image--thumb
                                .gallery__item.gallery__item--thumb.swiper-slide
                                    picture.gallery__frame.gallery__frame--thumb
                                        source(type="image/webp" srcset="static/images/content/bottle-1.webp" )
                                        img(itemprop="image" src="static/images/content/bottle-1.png").gallery__frame-image.gallery__frame-image--thumb
                                .gallery__item.gallery__item--thumb.swiper-slide
                                    picture.gallery__frame.gallery__frame--thumb
                                        source(type="image/webp" srcset="static/images/content/bottle-1.webp" )
                                        img(itemprop="image" src="static/images/content/bottle-1.png").gallery__frame-image.gallery__frame-image--thumb
                                .gallery__item.gallery__item--thumb.swiper-slide
                                    picture.gallery__frame.gallery__frame--thumb
                                        source(type="image/webp" srcset="static/images/content/bottle-1.webp" )
                                        img(itemprop="image" src="static/images/content/bottle-1.png").gallery__frame-image.gallery__frame-image--thumb
                                .gallery__item.gallery__item--thumb.swiper-slide
                                    picture.gallery__frame.gallery__frame--thumb
                                        source(type="image/webp" srcset="static/images/content/bottle-1.webp" )
                                        img(itemprop="image" src="static/images/content/bottle-1.png").gallery__frame-image.gallery__frame-image--thumb
                                .gallery__item.gallery__item--thumb.swiper-slide
                                    picture.gallery__frame.gallery__frame--thumb
                                        source(type="image/webp" srcset="static/images/content/bottle-1.webp" )
                                        img(itemprop="image" src="static/images/content/bottle-1.png").gallery__frame-image.gallery__frame-image--thumb
                        .gallery__controls
                            button(type="button").gallery__prev-th
                            button(type="button").gallery__next-th
                    <!--Блок информации о продукте-->
                    section.itemcard__info.info
                        .info__header
                            h2.info__name Chateau Cheval Blank
                            ul.info__share.share
                                li.share__item
                                    a(href="#" target="_blank").share__link
                                        i.fab.fa-twitter
                                li.share__item
                                    a(href="#" target="_blank").share__link
                                        i.fab.fa-facebook-f
                                li.share__item
                                    a(href="#" target="_blank").share__link
                                        i.fab.fa-vk 
                                li.share__item
                                    a(href="#" target="_blank").share__link
                                        i.fab.fa-instagram
                        .info__details
                            p.info__description "Белая лошадь" - именно так переводится с французского название поместья Cheval Blanc, хотя происхождение его доподлинно неизвестно.
                            p.info__description Ферментация и мацерация длятся 3-4 недели в емкостях из нержавеющей стали и цемента при температурном контроле. Перед бутилированием вино осветляется, но не фильтруется.
                        ul.info__specs.specs
                            for i in specsPremeur
                                li.specs__item
                                    b.specs__name=i.name
                                    span.specs__description=i.description
                        .info__checkout
                            b.info__price 62990  ₽
                            .info__checkout-controls
                                button(type="button").info__checkout-wishlist
                                .info__checkout-quantity
                                    button(type="button").info__checkout-quantity-less -
                                    span.info__checkout-quantity-curr 0
                                    button(type="button").info__checkout-quantity-more +
                                button(type="button").info__checkout-cart
        include ../modules/footer/footer
        //script(src="static/js/vendor/jquery-3.3.1.min.js")
        //script(src="static/js/vendor/libs.js")
        script(src="static/js/main.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.js")
        script(src="static/js/slider.js")
        block script
