include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet")
    body
        include ../modules/header/header
        main.main
            include ../modules/blocks/intro
            include ../modules/blocks/greeting
            include ../modules/blocks/swp
            section.gs
                .gs__wrapper
                    img(itemprop="image" src="static/images/content/gs-image-full.svg" alt="Green Selection").gs__bg

            section.to-catalog#wines
                .to-catalog__wrapper
                    h2.to-catalog__title Вина Бордо
                    ul.to-catalog__list
                        +itemCard('', 'Château Lafleur', '', '(Pomerol)', 'itemcard.html', 'bordo-2-7', '2-7', '104283', '99538', '2006, ', '1996', '0.75 л', 'Château Lafleur', 'Франция, Бордо')
                        +itemCard('', 'Château Cheval Blanc', '1er Grand Cru Classé A', '(Saint-Émilion)', '', 'bordo-2-8', '2-8', '114258', '108334', '2007, ', '1999', '0.75 л', 'Château Cheval Blanc', 'Франция, Бордо')
                        +itemCard('single', 'Château Angélus', '1er Grand Cru Classé A', '(Saint-Émilion)', 'itemcard.html', 'bordo-2-9', '2-9', '96876', '', '2012', '', '0.75 л', 'Château Angélus', 'Франция, Бордо')
                        +itemCard('single', 'Château Rocheyron', '1er Grand Cru Classé B', '(Saint-Émilion)', 'itemcard.html', 'bordo-2-10', '2-10', '102373', '', '2015', '', '0.75 л', 'Château Rocheyron', 'Франция, Бордо')
                        +itemCard('single', 'Château Ducru-Beaucaillou', '2ème Grand Cru Classé', '(Saint-Julien)', 'itemcard.html', 'bordo-2-11', '2-11', '108199', '', '2012', '', '0.75 л', 'Château Ducru-Beaucaillou', 'Франция, Бордо')
                        +itemCard('single', 'Château Les Carmes Haut-Brion', '', '(Pessac-Léognan)', 'itemcard.html', 'bordo-2-12', '2-12', '108447', '', '2016', '', '0.75 л', 'Château Les Carmes Haut-Brion', 'Франция, Бордо')
                    a(href="#" target="_self").to-catalog__link В каталог

            section.st
                .st__wrapper
                    img(itemprop="image" src="static/images/content/st.svg" alt="Simple Travel").st__bg
                    
                    .st__links
                        a(href="mailto:booking@simpletravel.ru" target="_blank").st__links-mail booking@simpletravel.ru
                        a(href="tel:+74957755552" target="_blank").st__links-tel +7 495 775 55 52
                        a(href="https://www.instagram.com/simplewinetravel/" target="_blank").st__links-insta simplewinetravel
                        a(href="https://www.facebook.com/simplewtravel" target="_blank").st__links-fb simplewtravel
                        a(href="http://www.simpletravel.ru/" target="_blank").st__links-site www.simpletravel.ru
            //include ../modules/blocks/packing
            //include ../modules/blocks/services

        include ../modules/footer/footer
        //script(src="static/js/vendor/jquery-3.3.1.min.js")
        //script(src="static/js/vendor/libs.js")
        script(src="static/js/main.js")
        block script
