include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css") 
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet")
    body.body
        include ../modules/header/header
        main.main
            +breadcrumb([["Главная ", "/index.html"], ["Заказ ", "#"]])
            .success
                .success__wrapper
                    h1.success__title Спасибо за оформление
                    p.success__description Наш сотрудник свяжется с вами в ближайшее время.
                    p.success__description Если у вас остались вопросы, вы можете обратиться к менеджеру.
                    
                    ul.success__contacts
                        li.success__contacts-item
                            span.success__contacts-name Черноиванова Наталья
                        li.success__contacts-item
                            a(href="tel:+79262081745" target="_self").success__contacts-name +7(926) 208-17-45
                        li.success__contacts-item
                            a(href="mailto:nchernoivanova@simple.ru" target="_self").success__contacts-name nchernoivanova@simple.ru
                    .success__controls
                        button(type="button").success__btn Распечатать заказ
                        a(href="catalog.html" target="_self").success__link Вернуться в каталог
            include ../modules/blocks/subscribe
            include ../modules/blocks/contacts
        include ../modules/footer/footer
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        //script(src="static/js/vendor/libs.js")
        script(src="static/js/main.js")
        script(src="static/js/select.js")
        block script
