extends layout/itemcard

block variables
	-var title = 'Карточка товара'
	-var specsPremeur = [{name: 'Тип', description: 'Красное'}, {name: 'Decanter', description: '99.0'}, {name: 'Цена за бутылку', description: '62990 ₽'}, {name: 'James Suckling', description: '-'}, {name: 'Средний рейтинг', description: '99.0'}, {name: 'Изменение цены vs. 2020', description: '3%'}, {name: 'Wine Advocate', description: '-'}, {name: 'Регион, классификация', description: 'St.-Emilion, 1-er Grand Cru Classe A'}, {name: 'Vinous', description: '-'}]
