extends layout/itemcard

block variables
	-var title = 'Карточка товара'
	-var specsItems = [{name: 'Страна:', description: 'Италия, Тоскана'}, {name: 'Вино:', description: 'красное'}, {name: 'Сахар:', description: 'сухое'}, {name: 'Виноград:', description: 'санджовезе, канайоло неро, колорино'}, {name: 'Производитель:', description: 'Melini'}, {name: 'Крепость:', description: '14%'}, {name: 'Объём:', description: '0.75 л'}]
