.breadcrumbs {
    width: auto;
    @include flex-setting(column, center, center);

    &__list {
        width: 100%;
        @include flex-setting(row, flex-start, center);
        max-width: 1160px;
        flex-wrap: wrap;
    }

    &__item {
        width: auto;
        padding-right: 1.25rem;
        position: relative;
        display: block;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        @include font-setting($helvetica-neue-font, 0.75rem, 0.75rem, 400, #767A82);
        text-decoration: none;
        transition: 0.2s ease-in;
        white-space: normal;
        word-break: break-all;
        cursor: pointer;
        outline: none;

        &:hover,
        &:active {
            color: $pink;
            transition: 0.2s ease-in;
        }
    }

    &__divider {
        margin-left: 1.25rem;
        display: inline-flex;
        width: 6px;
        height: 1px;
        background-color: #767A82;
        margin-bottom: 0.25rem;
    }
}

@media only screen and (max-width: 1365px) {
    .breadcrumbs {
        &__list {
            max-width: 640px;
        }
    }
}

@media only screen and (max-width: 719px) {
    .breadcrumbs {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-bottom: 0;

        &__item {
            display: none;

            &:first-child,
            &:nth-child(2) {
                display: block;
            }

            &:nth-child(2) .breadcrumbs__divider {
                display: none;
            }
        }
    }
}
