.breadcrumbs {
    width: auto;
    @include flex-setting(column, center, center);

    &__list {
        width: 100%;
        @include flex-setting(row, flex-start, center);
        max-width: 1160px;
    }

    &__item {
        width: auto;
        padding-right: 1.25rem;
        position: relative;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        @include font-setting($helvetica-neue-font, 0.75rem, 0.75rem, 400, #cecece);
        text-decoration: none;
        transition: 0.2s ease-in;

        cursor: pointer;
        outline: none;

        &:hover,
        &:active {
            color: $white;
            transition: 0.2s ease-in;
        }
    }

    &__divider {
        margin-left: 1.25rem;
        display: inline-flex;
        width: 6px;
        height: 1px;
        background-color: #cecece;
        margin-bottom: 0.25rem;
    }
}
