@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
      url(#{$path}.woff) format("woff"),
      url(#{$path}.woff2) format("woff2"),
      url(#{$path}.ttf) format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}
@include font-face('Forum', '../fonts/Forum/Forum', 400, 'normal');
@include font-face('FuturaC', '../fonts/Futura/FuturaLightC', 300, 'normal');
@include font-face('FuturaC', '../fonts/Futura/FuturaBookC', 400, 'normal');
@include font-face('FuturaC', '../fonts/Futura/FuturaMediumC', 500, 'normal');
@include font-face('Geometria', '../fonts/Geometria/Geometria', 400, 'normal');
@include font-face('Geometria', '../fonts/Geometria/Geometria-Thin', 200, 'normal');
@include font-face('Geometria', '../fonts/Geometria/Geometria-Light', 300, 'normal');
@include font-face('Geometria', '../fonts/Geometria/Geometria-Light', 400, 'normal');
@include font-face('Geometria', '../fonts/Geometria/Geometria-Medium', 500, 'normal');
@include font-face('Geometria', '../fonts/Geometria/Geometria-Bold', 700, 'normal');
@include font-face('HeliosC', '../fonts/HeliosC/HeliosC', 400, 'normal');
@include font-face('HeliosC', '../fonts/HeliosC/HeliosC-Bold', 700, 'normal');
@include font-face('HeliosC', '../fonts/HeliosC/HeliosLightC', 300, 'normal');
@include font-face('Gotham Pro', '../fonts/GothamPro/GothamPro-Light', 300, 'normal');
@include font-face('Helvetica', '../fonts/Helvetica/Helvetica-Light', 300, 'normal');
@include font-face('Helvetica', '../fonts/Helvetica/Helvetica', 400, 'normal');
@include font-face('Helvetica', '../fonts/Helvetica/Helvetica-Bold', 700, 'normal');
@include font-face('HelveticaNeueCyr', '../fonts/Helvetica Neue/HelveticaNeueCyr-Light', 300, 'normal');
@include font-face('HelveticaNeueCyr', '../fonts/Helvetica Neue/HelveticaNeueCyr-Thin', 200, 'normal');
@include font-face('HelveticaNeueCyr', '../fonts/Helvetica Neue/HelveticaNeueCyr-Roman', 400, 'normal');
@include font-face('HelveticaNeueCyr', '../fonts/Helvetica Neue/HelveticaNeueCyr-Medium', 550, 'normal');
@include font-face('HelveticaNeueCyr', '../fonts/Helvetica Neue/HelveticaNeueCyr-Bold', 700, 'normal');
@include font-face('Lato', '../fonts/Lato/Lato-Light', 300, 'normal');
@include font-face('Lato', '../fonts/Lato/Lato-Regular', 400, 'normal');
@include font-face('Lato', '../fonts/Lato/Lato-Black', 900, 'normal');
