.item {
    width: 100%;
    padding: 1.5rem 0 1.5rem 0;
    transition: 0.2s ease-in;
    overflow: hidden;

    background-color: $white;

    position: relative;

    &::after {
        position: absolute;
        content: '';

        width: 70px;
        height: 100%;

        background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF);

        top: 0;
        right: 0;

        opacity: 0;
        transition: 0.8s ease-in;
    }

    &:hover {
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
        transition: 0.3s ease-in;

        &::after {
            opacity: 1;
            transition: 0.3s ease-in;
        }

        .item__frame {
            width: 50%;
            align-self: flex-start;
            transition: 0.3s ease-in;
        }

        .item__info {
            right: 1.25rem;
            transition: 0.3s ease-in;
        }

        .item__controls {
            right: 1.25rem;
            transition: 0.5s ease-in;
        }

        .item__name {
            opacity: 0;
            transition: 0.3s ease-in-out;
        }
    }

    &.single {
        .item__info-articul span:first-child {
            &::after {
                display: none;
            }

            sup {
                display: none;
            }
        }

        .item__info-articul span:last-child {
            display: none;
        }

        .item__info-years span:last-child {
            display: none;
        }

        .item__info-specs span:not(:last-child) {
            padding-left: 0;

            &::before {
                display: none;
            }
        }
    }

    &__link {
        @include flex-setting(column, flex-start, center);
        width: 100%;
        height: 100%;
        text-decoration: none;
    }

    &__body {
        width: 100%;
        @include flex-setting(column, flex-start, center);
        position: relative;
        margin-bottom: 0.875rem;
    }

    &__controls {
        width: 100%;
        max-width: 170px;
        @include flex-setting(row, flex-start, center);
        gap: 0.125rem;

        position: absolute;

        right: -100%;
        bottom: 0.625rem;

        transition: 0.5s ease-in;
    }

    &__btn {
        @include flex-setting(column, center, center);
        width: 40px;
        height: 40px;
        border: 2px solid $red;
        background-color: $red;
        background-size: 50%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: 0.2s linear;

        &--expand {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 478.208 478.208'%3E%3Cpath d='M473.418 449.285L303.28 279.148c59.759-73.087 48.954-180.779-24.132-240.538S98.369-10.344 38.61 62.742-10.344 243.521 62.742 303.28c62.953 51.473 153.453 51.473 216.406 0l170.138 170.138c6.78 6.548 17.584 6.36 24.132-.42 6.387-6.614 6.387-17.099 0-23.713zM205.18 55.371c-1.198 8.41-8.4 14.659-16.895 14.659a16.641 16.641 0 01-2.423-.171 105.503 105.503 0 00-14.643-1.041c-9.426 0-17.067-7.641-17.067-17.067s7.641-17.067 17.067-17.067c6.516 0 13.023.462 19.473 1.382 9.33 1.331 15.817 9.973 14.488 19.305zm85.505 132.914c-9.426 0-17.067-7.641-17.067-17.067a102.587 102.587 0 00-43.93-84.087c-7.587-5.592-9.205-16.277-3.612-23.864 5.379-7.297 15.524-9.116 23.103-4.142a136.672 136.672 0 0158.573 112.094c-.001 9.425-7.642 17.066-17.067 17.066z' fill='%23fff' /%3E%3C/svg%3E");

            &:hover,
            &:active {
                background-color: transparent;
                transition: 0.2s linear;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) inset;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 478.208 478.208'%3E%3Cpath d='M473.418 449.285L303.28 279.148c59.759-73.087 48.954-180.779-24.132-240.538S98.369-10.344 38.61 62.742-10.344 243.521 62.742 303.28c62.953 51.473 153.453 51.473 216.406 0l170.138 170.138c6.78 6.548 17.584 6.36 24.132-.42 6.387-6.614 6.387-17.099 0-23.713zM205.18 55.371c-1.198 8.41-8.4 14.659-16.895 14.659a16.641 16.641 0 01-2.423-.171 105.503 105.503 0 00-14.643-1.041c-9.426 0-17.067-7.641-17.067-17.067s7.641-17.067 17.067-17.067c6.516 0 13.023.462 19.473 1.382 9.33 1.331 15.817 9.973 14.488 19.305zm85.505 132.914c-9.426 0-17.067-7.641-17.067-17.067a102.587 102.587 0 00-43.93-84.087c-7.587-5.592-9.205-16.277-3.612-23.864 5.379-7.297 15.524-9.116 23.103-4.142a136.672 136.672 0 0158.573 112.094c-.001 9.425-7.642 17.066-17.067 17.066z' fill='%23C8161A' /%3E%3C/svg%3E");
            }
        }

        &--wish {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 391.837 391.837'%3E%3Cpath d='M285.257 35.528c58.743.286 106.294 47.836 106.58 106.58 0 107.624-195.918 214.204-195.918 214.204S0 248.165 0 142.108c0-58.862 47.717-106.58 106.58-106.58a105.534 105.534 0 0189.339 48.065 106.578 106.578 0 0189.338-48.065z' fill='%23fff'/%3E%3C/svg%3E");

            &:hover,
            &:active {
                background-color: transparent;
                transition: 0.2s linear;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) inset;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 391.837 391.837'%3E%3Cpath d='M285.257 35.528c58.743.286 106.294 47.836 106.58 106.58 0 107.624-195.918 214.204-195.918 214.204S0 248.165 0 142.108c0-58.862 47.717-106.58 106.58-106.58a105.534 105.534 0 0189.339 48.065 106.578 106.578 0 0189.338-48.065z' fill='%23C8161A'/%3E%3C/svg%3E");
            }
        }

        &--cart {
            background-image: url("data:image/svg+xml,%3Csvg height='512' viewBox='0 0 24 24' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.091 19h-8.994c-1.297 0-2.447-.851-2.798-2.07L4.259 6.629C4.151 6.256 3.792 6 3.382 6H1a1 1 0 110-2h2.382c1.297 0 2.446.851 2.797 2.07L6.748 8h15.295c.624 0 1.216.297 1.583.795a1.89 1.89 0 01.288 1.696l-2.063 6.548A2.902 2.902 0 0119.091 19zm2.953-9h.01zM11 24c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-2.001V22zM18 24c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-2.001V22z' fill='%23fff' /%3E%3C/svg%3E");
            background-size: 55%;
            background-position: 50% 40%;

            &:hover,
            &:active {
                background-color: transparent;
                transition: 0.2s linear;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) inset;
                background-image: url("data:image/svg+xml,%3Csvg height='512' viewBox='0 0 24 24' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.091 19h-8.994c-1.297 0-2.447-.851-2.798-2.07L4.259 6.629C4.151 6.256 3.792 6 3.382 6H1a1 1 0 110-2h2.382c1.297 0 2.446.851 2.797 2.07L6.748 8h15.295c.624 0 1.216.297 1.583.795a1.89 1.89 0 01.288 1.696l-2.063 6.548A2.902 2.902 0 0119.091 19zm2.953-9h.01zM11 24c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-2.001V22zM18 24c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-2.001V22z' fill='%23C8161A' /%3E%3C/svg%3E");
            }
        }

        &:active,
        &:hover {
            background-color: transparent;
            transition: 0.2s linear;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) inset;
        }
    }

    &__frame {
        width: 100%;
        height: 100%;

        transition: 0.3s ease-in;
        @include flex-setting(column, center, center);
        align-self: flex-start;

        &-image {
            max-height: 400px;
            object-fit: contain;
            filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
        }
    }

    &__info {
        width: 100%;
        max-width: 170px;
        position: absolute;
        top: 20%;
        right: -100%;
        transition: 0.3s ease-in;
        @include flex-setting(column, flex-start, flex-start);

        &-top {
            width: 100%;
            @include flex-setting(row, flex-start, center);
            padding-bottom: 0.625rem;
            border-bottom: 1px solid #bfc3c6;
        }

        &-nr {
            @include font-setting($geometria-font, 0.875rem, 1rem, 700, $black);
            position: relative;
            white-space: nowrap;
            padding-right: 0.625rem;

            &::after {
                position: absolute;
                content: '';
                width: 2px;
                height: 2px;
                background-color: $pink;
                right: 0.25rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &-articul {
            width: auto;
            @include flex-setting(row, flex-start, center);

            span {
                @include font-setting($geometria-font, 0.875rem, 1rem, 700, #979a9c);
                position: relative;
                white-space: nowrap;

                &:first-child {
                    margin-right: 0.625rem;

                    &::after {
                        position: absolute;
                        content: '';
                        width: 1px;
                        height: 12px;
                        background-color: $pink;
                        top: 0.125rem;
                        right: -0.375rem;
                    }
                }

                sup {
                    font-size: 0.5rem;
                }
            }
        }

        &-middle {
            width: 100%;
            @include flex-setting(column, flex-start, flex-start);
            padding: 0.875rem 0;
        }
        // название
        &-name {
            @include font-setting($helvetica-neue-font, 1rem, 1.222, 700, $black);
        }

        &-category {
            @include font-setting($helvetica-neue-font, 1rem, 1.222, 400, $black);
        }

        &-subname {
            @include font-setting($helvetica-neue-font, 1rem, 1.222, 700, $black);
            margin-bottom: 0.375rem;
        }

        &-specs {
            width: 100%;
            @include flex-setting(row, flex-start, center);

            span {
                @include font-setting($geometria-font, 1rem, 1.222, 400, $gray);
                position: relative;

                padding-left: 0.75rem;

                &::before {
                    position: absolute;
                    left: 0;
                    top: 0.125rem;

                    @include font-setting($geometria-font, 0.5rem, 1.222, 400, $black);
                }

                &:first-child {
                    &::before {
                        content: '(1)';
                    }
                }

                &:nth-child(2) {
                    &::before {
                        content: '(2)';
                    }
                }
            }
        }

        &-volume {
            padding-left: 0.875rem;
            position: relative;

            &::after {
                position: absolute;
                content: '';
                width: 1px;
                height: 12px;
                background-color: $pink;
                top: 0.25rem;
                left: 0.4375rem;
            }
        }
        // Нижняя часть
        &-bottom {
            width: auto;
            @include flex-setting(column, flex-start, flex-start);
        }

        &-locate {
            @include font-setting($helvetica-neue-font, 0.875rem, 1.222, 300, $black);
        }

        &-country {
            @include font-setting($helvetica-neue-font, 0.875rem, 1.222, 300, $black);
        }
    }

    &__name {
        @include font-setting($geometria-font, 1.25rem, 1.222, 400, $black);
        transition: 0.3s ease-in-out;
    }
}
