.catalog {
    width: 100%;

    margin-left: auto;
    margin-right: auto;

    background-color: $white;
    max-width: 1160px;

    padding: 4.125rem 0 5.125rem 0;

    @include flex-setting(column, flex-start, flex-start);

    &__about {
        @include font-setting($helvetica-neue-font, 1.4375rem, 1.75rem, 400, $black);
        max-width: 700px;

        margin-bottom: 6.25rem;
        text-align: left;
    }

    &__filter {
        width: 100%;
        @include flex-setting(row, flex-start, center);
        margin-bottom: 2.8125rem;

        &-list {
            width: 100%;
            @include flex-setting(row, flex-start, center);
            flex-wrap: wrap;
            gap: 2rem 3rem;
        }

        &-item {
            width: auto;
            @include flex-setting(column, center, center);
        }

        &-btn {
            background-color: transparent;
            border: none;

            @include font-setting($helvetica-neue-font, 1.5rem, 1.8125rem, 400, $black);
            transition: 0.4s $cubic;

            cursor: pointer;
            outline: none;

            white-space: nowrap;

            &.active {
                color: $pink;
                transition: 0.4s $cubic;
            }
        }
    }

    &__wrapper {
        width: 100%;
        @include flex-setting(column, center, center);
        margin-bottom: 6.25rem;
    }

    &__list {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2.5rem;
        grid-row-gap: 3.125rem;
    }

    &__bottom {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2.5rem;
        justify-content: space-between;
    }

    &__pagination {
        width: auto;
        @include flex-setting(row, center, center);
        justify-self: start;

        &-prev,
        &-next {
            width: 24px;
            height: 24px;

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 40%;

            background-color: transparent;
            border: none;

            cursor: pointer;
            outline: none;
        }

        &-prev {
            background-image: url("data:image/svg+xml,%3Csvg width='6' height='12' viewBox='0 0 6 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.357422 6L5.75742 0.803848L5.75742 11.1962L0.357422 6Z' fill='%23C4C4C4'/%3E%3C/svg%3E");
            transition: 0.2s ease-in;

            &:hover,
            &:active {
                transition: 0.2s ease-in;
                background-image: url("data:image/svg+xml,%3Csvg width='6' height='12' viewBox='0 0 6 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.357422 6L5.75742 0.803848L5.75742 11.1962L0.357422 6Z' fill='%23000000'/%3E%3C/svg%3E");
            }
        }

        &-next {
            background-image: url("data:image/svg+xml,%3Csvg width='6' height='12' viewBox='0 0 6 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.55664 6L0.156641 0.803848L0.156641 11.1962L5.55664 6Z' fill='%23C4C4C4'/%3E%3C/svg%3E");
            transition: 0.2s ease-in;

            &:hover,
            &:active {
                transition: 0.2s ease-in;
                background-image: url("data:image/svg+xml,%3Csvg width='6' height='12' viewBox='0 0 6 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.55664 6L0.156641 0.803848L0.156641 11.1962L5.55664 6Z' fill='%23000000'/%3E%3C/svg%3E");
            }
        }

        &-list {
            width: auto;
            @include flex-setting(row, flex-start, center);

            margin-left: 1.375rem;
            margin-right: 1.375rem;
        }

        &-item {
            width: auto;
            margin-right: 1.375rem;

            &:last-child {
                margin-right: 0;
            }
        }

        &-link {
            @include font-setting($helvetica-neue-font, 1.0625rem, 1.25rem, 550, #cecece);
            text-decoration: none;
            transition: 0.2s ease-in;

            &.active {
                color: $black;
                transition: 0.2s ease-in;
            }

            &:hover,
            &:active {
                color: $black;
                transition: 0.2s ease-in;
            }
        }
    }

    &__more {
        justify-self: center;
        background-color: transparent;
        border: none;

        visibility: hidden;
        pointer-events: none;

        @include font-setting($helvetica-neue-font, 1.0625rem, 1.25rem, 550, $black);

        cursor: pointer;
        outline: none;

        transition: 0.2s ease-in;

        &:hover,
        &:focus,
        &:active {
            color: $pink;
            transition: 0.2s ease-in;
        }
    }

    &__top {
        justify-self: end;
        position: relative;

        @include font-setting($helvetica-neue-font, 1.0625rem, 1.25rem, 550, $black);
        text-decoration: none;

        padding-left: 1.0625rem;

        cursor: pointer;
        outline: none;

        transition: 0.2s ease-in;

        &::after {
            position: absolute;
            content: '';

            width: 6px;
            height: 15px;

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            background-image: url("data:image/svg+xml,%3Csvg width='5' height='12' viewBox='0 0 5 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.553 12V2.888C1.12233 3.194 0.606667 3.47167 0.00600014 3.721V2.412C0.425333 2.06067 0.788 1.69233 1.094 1.307C1.41133 0.921666 1.67767 0.524999 1.893 0.116999H2.624C3.04333 0.955666 3.66667 1.72067 4.494 2.412V3.721C4.19933 3.60767 3.92167 3.483 3.661 3.347C3.41167 3.211 3.17933 3.06367 2.964 2.905V12H1.553Z' fill='black'/%3E%3C/svg%3E");

            left: 0;
            top: 1px;
            transition: 0.2s ease-in;
        }

        &:hover,
        &:active,
        &:focus {
            color: $pink;
            transition: 0.2s ease-in;

            &::after {
                background-image: url("data:image/svg+xml,%3Csvg width='5' height='12' viewBox='0 0 5 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.553 12V2.888C1.12233 3.194 0.606667 3.47167 0.00600014 3.721V2.412C0.425333 2.06067 0.788 1.69233 1.094 1.307C1.41133 0.921666 1.67767 0.524999 1.893 0.116999H2.624C3.04333 0.955666 3.66667 1.72067 4.494 2.412V3.721C4.19933 3.60767 3.92167 3.483 3.661 3.347C3.41167 3.211 3.17933 3.06367 2.964 2.905V12H1.553Z' fill='%23e6007e'/%3E%3C/svg%3E");
                transition: 0.2s ease-in;
            }
        }
    }

    @supports not (aspect-ratio: 1 / 1) {
        .catalog__filter-list {
            margin-bottom: 0.8125rem;
        }

        .catalog__filter-item {
            margin-right: 3rem;
            margin-bottom: 2rem;
        }
    }
}

@media only screen and (max-width: 719px) {
    .catalog {
        padding: 2.5rem 0 3.375rem 0;

        &__about {
            font-size: 1.125rem;
            line-height: 1.375rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            margin-bottom: 2.5rem;
        }

        &__filter {
            &-list {
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                flex-wrap: nowrap;

                padding-left: 1.25rem;
                padding-right: 1.25rem;
                padding-bottom: 0;

                margin-bottom: 0;

                -ms-overflow-style: none;
                overflow: -moz-scrollbars-none;

                &::-webkit-scrollbar { width: 0; }

                gap: 3.125rem;
            }

            &-item {
                flex: none;
                scroll-snap-align: center;

                margin-bottom: 0;
                max-width: 46.09375%;

                @include gapFallback(1.25rem);
            }

            &-btn {
                white-space: nowrap;
                font-size: 1.25rem;
                line-height: 1.5rem;
            }
        }

        &__wrapper {
            background-color: $white;
            border-top: 1px solid #E2ECF5;
            margin-bottom: 2.625rem;
        }

        &__list {
            grid-template-columns: repeat(2, 50%);
            grid-column-gap: 0;
            grid-row-gap: 0;
        }

        &__bottom {
            padding: 0 1.5rem;
            grid-template-columns: 1fr;
            grid-column-gap: 0;
            justify-content: center;
        }

        &__pagination {
            justify-self: center;
        }

        &__more {
            display: none;
        }

        &__top {
            display: none;
        }

        @supports not (aspect-ratio: 1 / 1) {
            .catalog__filter-list {
                margin-bottom: 0
            }

            .catalog__filter-item {
                margin-right: 3.125rem;
                margin-bottom: 0;
            }
        }
    }
}
