.checkout {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding: 2.5rem 1.5rem;

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);
    }

    &__title {
        @include font-setting($roboto-font, 1.25rem, 1.5rem, 500, $black);

        margin-bottom: 1.875rem;
    }

    &__description {
        @include font-setting($helvetica-neue-font, 0.875rem, 1.0625rem, 400, $black);
        text-align: left;
        margin-bottom: 3rem;
    }

    &__form {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);
    }

    &__list {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);

        margin-bottom: 3rem;
    }

    &__item {
        width: 100%;
        margin-bottom: 2.5rem;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__input {
        width: 100%;
        @include font-setting($roboto-font, 1.0625rem, 1.25rem, 400, $black);
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #999;
        cursor: text;
        padding: 0.8125rem 0;
        transition: 0.4s $cubic;

        &[type="email"] {
            -webkit-appearance: none;
            appearance: none;
        }

        &[type="email"] + .checkout__error--mail {
            display: inline-block;
            color: rgba(0, 0, 0, 0.24);
            transition: 0.4s $cubic;
        }

        &[type="email"] + .checkout__error--mail.active {
            display: inline-block;
            color: $pink;
            transition: 0.4s $cubic;
        }
    }

    &__error {
        display: none;
        @include font-setting($roboto-font, 0.75rem, 0.875rem, 400, $pink);
        text-align: left;
        transition: 0.4s $cubic;

        &.success {
            display: none;
        }

        &.active {
            display: inline-block;
            color: $pink;
            transition: 0.4s $cubic;
        }

        &--tel {
            position: absolute;
            bottom: -2rem;
            left: 0;
        }
    }

    &__agreement {
        width: 100%;
        margin-bottom: 3rem;

        &-label {
            @include font-setting($roboto-font, 0.875rem, 1.0625rem, 400, $black);

            a {
                color: $black;
                transition: 0.4s $cubic;
                text-decoration: none;

                &:hover,
                &:active {
                    color: $pink;
                    transition: 0.4s $cubic;
                }
            }
        }
    }

    &__policy {
        @include font-setting($roboto-font, 0.875rem, 1.0625rem, 400, rgba(0, 0, 0, 0.7));
        text-align: center;
        margin-bottom: 2rem;

        a {
            color: $black;
            text-decoration: none;
            transition: 0.4s $cubic;

            &:hover,
            &:active {
                color: $pink;
                transition: 0.4s $cubic;
            }
        }
    }

    &__checkbox {
        display: none;
    }

    &__checkbox + label {
        @include checkbox-default;
    }

    &__checkbox + label::before {
        @include custom-checkbox;
    }

    &__checkbox:checked + label::after {
        @include checkbox-checked;
    }

    &__controls {
        width: 100%;
        @include flex-setting(column, flex-start, center);
    }

    &__submit {
        width: 100%;
        height: 50px;

        @include flex-setting(column, center, center);
        @include font-setting($helvetica-neue-font, 1rem, 1.25rem, 400, $black);

        background-color: transparent;
        border: 1px solid $pink;
        text-decoration: none;
        cursor: pointer;
        outline: none;

        margin-bottom: 1.25rem;

        transition: 0.2s $cubic;

        &:hover,
        &:active,
        &:focus {
            background-color: $pink;
            color: $white;
            transition: 0.2s $cubic;
        }
    }

    &__return {
        display: inline-flex;
        width: auto;
        @include font-setting($helvetica-neue-font, 1rem, 1.25rem, 400, $black);
        text-decoration: none;
        padding-top: 0.9375rem;
        padding-bottom: 0.9375rem;

        position: relative;

        &::after {
            position: absolute;
            content: '';

            width: 100%;
            height: 2px;
            background-color: $pink;

            left: 0;
            bottom: 0;

            transform: scaleX(0);
            transform-origin: center;
            transition: 0.3s $cubic;
        }

        &:hover,
        &:active {
            &::after {
                transform: scaleX(1);
                transition: 0.3s $cubic;
                transform-origin: center;
            }
        }
    }
}

@include min-screen(720px) {
    .checkout {
        padding-left: 2.5rem;
        padding-right: 2.5rem;

        &__wrapper {
            max-width: 640px;
        }

        &__title {
            font-size: 1.75rem;
            line-height: 2.25rem;
        }

        &__description {
            font-size: 1.125rem;
            line-height: 1.375rem;
            margin-bottom: 3rem;
        }

        &__policy {
            max-width: 50%;
            text-align: left;
            margin-bottom: 2rem;
        }

        &__error {
            &--tel {
                bottom: -1.5rem;
            }
        }

        &__checkbox {
            display: none;
        }

        &__controls {
            width: auto;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        &__submit {
            width: 200px;
            font-size: 0.9375rem;
            line-height: 1.125rem;
            margin-bottom: 0;

            margin-right: 1.875rem;
        }

        &__return {
            font-size: 0.9375rem;
            line-height: 1.125rem;
        }
    }
}

@include min-screen(1366px) {
    .checkout {
        padding-left: 0;
        padding-right: 0;

        padding-top: 3.125rem;
        padding-bottom: 10rem;

        &__wrapper {
            max-width: 1160px;
        }

        &__title {
            font-size: 3rem;
            line-height: 3.625rem;
            margin-bottom: 1.875rem;
        }

        &__description {
            font-size: 1.4325rem;
            line-height: 1.75rem;
            margin-bottom: 6rem;
        }

        &__list {
            max-width: 760px;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 2.5rem;
        }

        &__item {
            max-width: 360px;
            margin-bottom: 0;

            &:first-child {
                margin-right: 2.5rem;
            }
        }

        &__error {
            max-width: 80%;

            &--tel {
                bottom: -2rem;
            }
        }

        &__policy {
            max-width: 30%;
            text-align: left;
            margin-bottom: 2rem;
        }


        &__checkbox {
            display: none;
        }

        &__controls {
            width: auto;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        &__submit {
            width: 200px;
            font-size: 0.9375rem;
            line-height: 1.125rem;
            margin-bottom: 0;

            margin-right: 1.875rem;
        }

        &__return {
            font-size: 0.9375rem;
            line-height: 1.125rem;
        }
    }
}
