.controls {
    width: auto;
    @include flex-setting(row, flex-end, center);
    gap: 0.125rem;

    &__btn {
        @include flex-setting(column, center, center);
        width: 40px;
        height: 40px;
        border: 2px solid $red;
        background-color: $red;
        background-size: 50%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: 0.2s linear;

        &--search {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 478.208 478.208'%3E%3Cpath d='M473.418 449.285L303.28 279.148c59.759-73.087 48.954-180.779-24.132-240.538S98.369-10.344 38.61 62.742-10.344 243.521 62.742 303.28c62.953 51.473 153.453 51.473 216.406 0l170.138 170.138c6.78 6.548 17.584 6.36 24.132-.42 6.387-6.614 6.387-17.099 0-23.713zM205.18 55.371c-1.198 8.41-8.4 14.659-16.895 14.659a16.641 16.641 0 01-2.423-.171 105.503 105.503 0 00-14.643-1.041c-9.426 0-17.067-7.641-17.067-17.067s7.641-17.067 17.067-17.067c6.516 0 13.023.462 19.473 1.382 9.33 1.331 15.817 9.973 14.488 19.305zm85.505 132.914c-9.426 0-17.067-7.641-17.067-17.067a102.587 102.587 0 00-43.93-84.087c-7.587-5.592-9.205-16.277-3.612-23.864 5.379-7.297 15.524-9.116 23.103-4.142a136.672 136.672 0 0158.573 112.094c-.001 9.425-7.642 17.066-17.067 17.066z' fill='%23fff' /%3E%3C/svg%3E");
            background-size: 52%;
            transition: 0.3s ease-in;

            &:active,
            &:hover {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 478.208 478.208'%3E%3Cpath d='M473.418 449.285L303.28 279.148c59.759-73.087 48.954-180.779-24.132-240.538S98.369-10.344 38.61 62.742-10.344 243.521 62.742 303.28c62.953 51.473 153.453 51.473 216.406 0l170.138 170.138c6.78 6.548 17.584 6.36 24.132-.42 6.387-6.614 6.387-17.099 0-23.713zM205.18 55.371c-1.198 8.41-8.4 14.659-16.895 14.659a16.641 16.641 0 01-2.423-.171 105.503 105.503 0 00-14.643-1.041c-9.426 0-17.067-7.641-17.067-17.067s7.641-17.067 17.067-17.067c6.516 0 13.023.462 19.473 1.382 9.33 1.331 15.817 9.973 14.488 19.305zm85.505 132.914c-9.426 0-17.067-7.641-17.067-17.067a102.587 102.587 0 00-43.93-84.087c-7.587-5.592-9.205-16.277-3.612-23.864 5.379-7.297 15.524-9.116 23.103-4.142a136.672 136.672 0 0158.573 112.094c-.001 9.425-7.642 17.066-17.067 17.066z' fill='%23C8161A' /%3E%3C/svg%3E");
                transition: 0.3s ease-in;
            }
        }

        &--wish {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 391.837 391.837'%3E%3Cpath d='M285.257 35.528c58.743.286 106.294 47.836 106.58 106.58 0 107.624-195.918 214.204-195.918 214.204S0 248.165 0 142.108c0-58.862 47.717-106.58 106.58-106.58a105.534 105.534 0 0189.339 48.065 106.578 106.578 0 0189.338-48.065z' fill='%23fff'/%3E%3C/svg%3E");
            transition: 0.3s ease-in;

            &:hover,
            &:active {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 391.837 391.837'%3E%3Cpath d='M285.257 35.528c58.743.286 106.294 47.836 106.58 106.58 0 107.624-195.918 214.204-195.918 214.204S0 248.165 0 142.108c0-58.862 47.717-106.58 106.58-106.58a105.534 105.534 0 0189.339 48.065 106.578 106.578 0 0189.338-48.065z' fill='%23C8161A'/%3E%3C/svg%3E");
                transition: 0.3s ease-in;
            }
        }

        &--cart {
            background-image: url("data:image/svg+xml,%3Csvg height='512' viewBox='0 0 24 24' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.091 19h-8.994c-1.297 0-2.447-.851-2.798-2.07L4.259 6.629C4.151 6.256 3.792 6 3.382 6H1a1 1 0 110-2h2.382c1.297 0 2.446.851 2.797 2.07L6.748 8h15.295c.624 0 1.216.297 1.583.795a1.89 1.89 0 01.288 1.696l-2.063 6.548A2.902 2.902 0 0119.091 19zm2.953-9h.01zM11 24c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-2.001V22zM18 24c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-2.001V22z' fill='%23fff' /%3E%3C/svg%3E");
            background-size: 55%;
            background-position: 50% 40%;
            transition: 0.3s ease-in;

            &:hover,
            &:active {
                background-image: url("data:image/svg+xml,%3Csvg height='512' viewBox='0 0 24 24' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.091 19h-8.994c-1.297 0-2.447-.851-2.798-2.07L4.259 6.629C4.151 6.256 3.792 6 3.382 6H1a1 1 0 110-2h2.382c1.297 0 2.446.851 2.797 2.07L6.748 8h15.295c.624 0 1.216.297 1.583.795a1.89 1.89 0 01.288 1.696l-2.063 6.548A2.902 2.902 0 0119.091 19zm2.953-9h.01zM11 24c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-2.001V22zM18 24c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-2.001V22z' fill='%23C8161A' /%3E%3C/svg%3E");
                transition: 0.3s ease-in;
            }
        }

        &--login {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='-42 0 512 512.002' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M210.352 246.633c33.882 0 63.222-12.153 87.195-36.13 23.973-23.972 36.125-53.304 36.125-87.19 0-33.876-12.152-63.211-36.129-87.192C273.566 12.152 244.23 0 210.352 0c-33.887 0-63.22 12.152-87.192 36.125s-36.129 53.309-36.129 87.188c0 33.886 12.156 63.222 36.133 87.195 23.977 23.969 53.313 36.125 87.188 36.125zm0 0M426.129 393.703c-.692-9.976-2.09-20.86-4.149-32.351-2.078-11.579-4.753-22.524-7.957-32.528-3.308-10.34-7.808-20.55-13.37-30.336-5.774-10.156-12.555-19-20.165-26.277-7.957-7.613-17.699-13.734-28.965-18.2-11.226-4.44-23.668-6.69-36.976-6.69-5.227 0-10.281 2.144-20.043 8.5a2711.03 2711.03 0 01-20.879 13.46c-6.707 4.274-15.793 8.278-27.016 11.903-10.949 3.543-22.066 5.34-33.039 5.34-10.972 0-22.086-1.797-33.047-5.34-11.21-3.622-20.296-7.625-26.996-11.899-7.77-4.965-14.8-9.496-20.898-13.469-9.75-6.355-14.809-8.5-20.035-8.5-13.313 0-25.75 2.254-36.973 6.7-11.258 4.457-21.004 10.578-28.969 18.199-7.605 7.281-14.39 16.12-20.156 26.273-5.558 9.785-10.058 19.992-13.371 30.34-3.2 10.004-5.875 20.945-7.953 32.524-2.059 11.476-3.457 22.363-4.149 32.363A438.821 438.821 0 000 423.949c0 26.727 8.496 48.363 25.25 64.32 16.547 15.747 38.441 23.735 65.066 23.735h246.532c26.625 0 48.511-7.984 65.062-23.734 16.758-15.946 25.254-37.586 25.254-64.325-.004-10.316-.351-20.492-1.035-30.242zm0 0' fill='%23fff' /%3E%3C/svg%3E");
            transition: 0.3s ease-in;

            &:hover,
            &:active {
                background-image: url("data:image/svg+xml,%3Csvg viewBox='-42 0 512 512.002' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M210.352 246.633c33.882 0 63.222-12.153 87.195-36.13 23.973-23.972 36.125-53.304 36.125-87.19 0-33.876-12.152-63.211-36.129-87.192C273.566 12.152 244.23 0 210.352 0c-33.887 0-63.22 12.152-87.192 36.125s-36.129 53.309-36.129 87.188c0 33.886 12.156 63.222 36.133 87.195 23.977 23.969 53.313 36.125 87.188 36.125zm0 0M426.129 393.703c-.692-9.976-2.09-20.86-4.149-32.351-2.078-11.579-4.753-22.524-7.957-32.528-3.308-10.34-7.808-20.55-13.37-30.336-5.774-10.156-12.555-19-20.165-26.277-7.957-7.613-17.699-13.734-28.965-18.2-11.226-4.44-23.668-6.69-36.976-6.69-5.227 0-10.281 2.144-20.043 8.5a2711.03 2711.03 0 01-20.879 13.46c-6.707 4.274-15.793 8.278-27.016 11.903-10.949 3.543-22.066 5.34-33.039 5.34-10.972 0-22.086-1.797-33.047-5.34-11.21-3.622-20.296-7.625-26.996-11.899-7.77-4.965-14.8-9.496-20.898-13.469-9.75-6.355-14.809-8.5-20.035-8.5-13.313 0-25.75 2.254-36.973 6.7-11.258 4.457-21.004 10.578-28.969 18.199-7.605 7.281-14.39 16.12-20.156 26.273-5.558 9.785-10.058 19.992-13.371 30.34-3.2 10.004-5.875 20.945-7.953 32.524-2.059 11.476-3.457 22.363-4.149 32.363A438.821 438.821 0 000 423.949c0 26.727 8.496 48.363 25.25 64.32 16.547 15.747 38.441 23.735 65.066 23.735h246.532c26.625 0 48.511-7.984 65.062-23.734 16.758-15.946 25.254-37.586 25.254-64.325-.004-10.316-.351-20.492-1.035-30.242zm0 0' fill='%23C8161A' /%3E%3C/svg%3E");
                transition: 0.3s ease-in;
            }
        }

        &:active,
        &:hover {
            background-color: transparent;
            transition: 0.2s linear;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) inset;
        }
    }
}
