.contacts {
    width: 100%;

    @include flex-setting(column, column, center);

    background-color: $white;
    padding-top: 5.25rem;
    padding-bottom: 5.25rem;

    &__wrapper {
        width: 100%;
        max-width: 1160px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 6.125rem;
        justify-content: start;
        align-items: end;
    }

    &__block {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);

    }

    &__title {
        @include font-setting($helvetica-neue-font, 1rem, 1.2, 550, $black);
        margin-bottom: 1.25rem;
    }

    &__link {
        @include font-setting($helvetica-neue-font, 1rem, 1.5rem, 400, #6D6D6D);
        text-decoration: none;
        transition: 0.3s ease-in;

        cursor: pointer;

        &:hover,
        &:active {
            color: $pink;
            transition: 0.3s ease-in;
        }

        &.--social {
            max-width: 166px;
        }
    }

    &__social {
        width: auto;
        @include flex-setting(row, flex-start, center);
        margin-bottom: 0.8125rem;

        &-item {
            @include flex-setting(column, center, center);
            width: 36px;
            height: 36px;
            margin-right: 0.75rem;
            border-radius: 18px;

            &:last-child {
                margin-right: 0;
            }
        }

        &-link {
            @include flex-setting(column, center, center);
            width: 100%;
            height: 100%;
            border-radius: 18px;
            border: 1px solid #6D6D6D;
            text-decoration: none;
            position: relative;
            transition: 0.2s ease-in;

            .fa-facebook-f::before {
                position: absolute;
                content: '\f39e';
                font-size: 1.25rem;
                color: $black;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.2s ease-in;
            }

            .fa-instagram::before {
                position: absolute;
                content: '\f16d';
                font-size: 1.25rem;
                color: $black;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.2s ease-in;
            }

            &:hover,
            &:active {
                border-color: $pink;
                transition: 0.2s ease-in;

                .fa-instagram::before,
                .fa-facebook-f::before {
                    color: $pink;
                    transition: 0.2s ease-in;
                }
            }
        }
    }
}
