.contacts {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    &__wrapper {
        width: 100%;

        display: grid;
        grid-template-areas:
            'msk ...'
            'spb rest'
        ;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4rem;
        grid-row-gap: 2rem;
        justify-content: space-between;

        margin-bottom: 4rem;
    }

    &__block {
        &--msk {
            grid-area: msk;

            @include flex-setting(row, flex-start, center);
            flex-wrap: wrap;

            .contacts__title {
                width: 100%;
            }

            .contacts__link:first-of-type {
                display: block;
                width: 100%;
                margin-bottom: 0.125rem;
            }
        }

        &--spb {
            grid-area: spb;
        }

        &--rest {
            grid-area: rest;
        }
    }

    &__bottom {
        width: 100%;
        @include flex-setting(row, space-between, center);
    }

    &__logo {
        max-height: 80px;
        object-fit: contain;
    }

    &__link {
        @include font-setting($helios-font, 1rem, 1.222, 300, $black);
        text-decoration: none;
    }

    &__title {
        @include font-setting($helios-font, 1rem, 1.222, 400, $pink);
        margin-bottom: 0.125rem;
    }
}
