.corporate {
    width: 100%;

    @include flex-setting(column, center, center);

    background-color: $white;

    padding-top: 5.625rem;
    padding-bottom: 3.75rem;

    &__wrapper {
        width: 100%;
        max-width: 1160px;
        @include flex-setting(column, flex-start, flex-start);
    }

    &__title {
        @include font-setting($roboto-font, 3rem, 3.625rem, 500, $black);

        margin-bottom: 2.125rem;

        text-decoration: none;

        a {
            color: $black;
            text-decoration: none;

            position: relative;
            padding: 0.5rem 0;

            &::after {
                position: absolute;
                content: '';

                width: 100%;
                height: 2px;

                background-color: $pink;

                left: 0;
                bottom: 0;
                transform: scaleX(0);
                transition: 0.4s $cubic;
            }

            &:hover,
            &:active {
                &::after {
                    transform: scaleX(1);
                    transform-origin: center;
                    transition: 0.4s $cubic;
                }
            }
        }
    }

    &__body {
        width: 100%;
        display: grid;
        grid-template-areas:
            'info person'
            'service person'
        ;

        grid-template-columns: 56.89655172413793% 39.6551724137931%;
        grid-column-gap: 2.5rem;
        justify-content: start;
        align-items: start;
        margin-bottom: 3.625rem;
    }

    &__info {
        grid-area: info;
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);

        margin-right: 2.5rem;
        margin-top: 2.5rem;
    }

    &__description {
        @include font-setting($helvetica-neue-font, 1.4375rem, 1.75rem, 550, $black);
        text-align: left;
        margin-bottom: 1rem;

        &:last-of-type {
            margin-bottom: 3.125rem;
        }
    }

    &__services {
        grid-area: service;
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);

        &-title {
            width: 100%;
            @include font-setting($helvetica-neue-font, 2rem, 2.375rem, 500, $black);
            padding-bottom: 1.4375rem;
            text-align: left;

            border-bottom: 1px solid #D5DAE2;
        }

        &-list {
            width: 100%;

            @include flex-setting(column, flex-start, flex-start);
        }

        &-item {
            position: relative;

            width: 100%;
            @include flex-setting(column, flex-start, flex-start);

            padding-top: 1.4375rem;
            text-align: left;

            border-bottom: 1px solid #D5DAE2;

            max-height: 72px;
            overflow: hidden;
            transition: 0.4s $cubic;

            cursor: pointer;
            outline: none;

            &::after {
                position: absolute;
                content: '';

                top: 1.4375rem;
                right: 0;

                width: 24px;
                height: 24px;

                background-position: 50% 50%;
                background-size: 50%;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.838806 0.499939L5.33887 5L9.83893 0.499938' stroke='%236D6D6D'/%3E%3C/svg%3E");
                transition: 0.4s $cubic;
            }

            &.active {
                max-height: 300px;
                transition: 0.4s $cubic;

                &::after {
                    transform: rotate(180deg);
                    transition: 0.4s $cubic;
                }
            }
        }

        &-name {
            @include font-setting($helvetica-neue-font, 1.375rem, 1.625rem, 550, $black);
            margin-bottom: 1.4375rem;
        }

        &-text {
            @include font-setting($helvetica-neue-font, 1.25rem, 1.5rem, 400, $black);
            margin-bottom: 1.4375rem;
        }
    }

    &__person {
        grid-area: person;
        width: 100%;
        background-color: $white;

        @include flex-setting(column, flex-start, flex-start);

        border-radius: 10px;
        border: 1px solid #D5DAE2;

        padding: 2.5rem 2.5rem;
        box-shadow: 0px 14px 35px rgba(177, 207, 216, 0.2);

        position: relative;

        &::after {
            position: absolute;
            content: '';

            width: 54px;
            height: 44px;

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            background-image: url('../images/content/ticks.svg');

            top: 2.5rem;
            right: 2.5rem;
        }
    }

    &__photo {
        @include flex-setting(column, center, center);

        width: 128px;
        height: 128px;

        border-radius: 64px;
        overflow: hidden;

        margin-bottom: 1.25rem;

        &-image {
            width: 100%;
            height: 100%;

            object-fit: contain;
        }
    }

    &__bio {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
        margin-bottom: 2.5rem;
    }

    &__name {
        @include font-setting($helvetica-neue-font, 2rem, 2.375rem, 550, $black);
        margin-bottom: 0.3125rem;
    }

    &__position {
        @include font-setting($helvetica-neue-font, 1.25rem, 1.5rem, 400, $black);
        max-width: 360px;
    }

    &__about {
        @include font-setting($helvetica-neue-font, 0.8125rem, 1rem, 400, $black);
        text-align: left;
        max-width: 360px;
        margin-bottom: 1.375rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 1365px) {
    .corporate {
        padding-top: 6rem;
        padding-bottom: 6rem;

        &__wrapper {
            max-width: 640px;
        }

        &__title {
            font-size: 1.75rem;
            line-height: 2.25rem;
            margin-bottom: 1.125rem;
        }

        &__body {
            display: grid;
            grid-template-areas:
                'info '
                'person'
                'service'
            ;

            grid-template-columns: 1fr;
            grid-column-gap: 0;
            grid-row-gap: 2.25rem;
            justify-content: start;
            align-items: start;
            margin-bottom: 0;
        }

        &__info {
            max-width: 420px;
            margin-right: 0;
            margin-top: 0;
        }

        &__description {
            font-size: 0.875rem;
            line-height: 1.0625rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &__services {
            max-width: 420px;

            &-title {
                font-size: 1.25rem;
                line-height: 1.5rem;
                margin-bottom: 0;
            }

            &-item {
                padding-top: 0.625rem;
                max-height: 37px;

                &::after {
                    top:  0.625rem;
                    width: 16px;
                    height: 16px;
                }
            }

            &-name {
                font-size: 0.875rem;
                line-height: 1.0625rem;
                margin-bottom: 0.625rem;
            }

            &-text {
                font-size: 0.625rem;
                line-height: 0.75rem;
                margin-bottom: 0.625rem;
            }
        }

        &__person {
            display: grid;
            grid-template-areas:
                'photo description1'
                'bio description2'
            ;

            grid-template-columns: 220px 1fr;
            grid-column-gap: 1.375rem;

            padding: 1.375rem 1.375rem;

            &::after {
                width: 30px;
                height: 24px;
                top: 1.375rem;
                right: auto;
                left: calc(1.375rem + 188px);
            }
        }

        &__photo {
            grid-area: photo;

            width: 72px;
            height: 72px;
            border-radius: 36px;

            margin-bottom: 0.6875rem;
        }

        &__bio {
            grid-are: bio;
            margin-bottom: 0;
        }

        &__name {
            font-size: 1.125rem;
            line-height: 1.375rem;
            margin-bottom: 0.125rem;
        }

        &__position {
            font-size: 0.75rem;
            line-height: 0.875rem;
            margin-bottom: 0;
            max-width: 205px;
        }

        &__about {
            grid-area: description;
            font-size: 0.625rem;
            line-height: 0.75rem;
            max-width: 95%;
            margin-bottom: 0;

            &:first-of-type {
                grid-area: description1;
            }

            &:last-of-type {
                grid-area: description2;
            }
        }
    }
}

@media only screen and (max-width: 719px) {
    .corporate {
        padding-top: 5rem;
        padding-bottom: 2.3125rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        &__wrapper {
            padding: 0;
        }

        &__title {
            font-size: 2rem;
            line-height: 2.375rem;
            margin-bottom: 2.8125rem;
        }

        &__body {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 4.1875rem;
            flex-direction: column;
            align-items: center;

            padding: 0;
        }

        &__info {
            margin-right: 0;
            margin-bottom: 2.625rem;
            margin-top: 0;
            order: 1;
        }

        &__description {
            font-size: 1.125rem;
            line-height: 1.375rem;
            margin-bottom: 1.25rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &__services {
            order: 3;

            &-title {
                font-size: 1.75rem;
                line-height: 2.125rem;
                padding-bottom: 1.875rem;
            }

            &-item {
                padding-top: 1.875rem;
                max-height: 84px;

                &::after {
                    top: 1.875rem;
                }

                &.active {
                    max-height: 400px;
                }
            }

            &-name {
                font-size: 1.25rem;
                line-height: 1.5rem;
                margin-bottom: 1.875rem;
            }

            &-text {
                font-size: 1.25rem;
                line-height: 1.5rem;
                margin-bottom: 1.8755rem;
            }
        }

        &__person {
            order: 2;
            display: flex;

            background-color: transparent;

            border-radius: none;
            border: none;

            padding: 0;
            margin-bottom: 3.125rem;

            &::after {
                display: none;
            }
        }

        &__photo {
            width: 100%;
            height: 0;
            padding-bottom: 87.5%;
            border-radius: 0;
            overflow: hidden;
            position: relative;
            margin-bottom: 1.875rem;

            &-image {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;

                object-fit: contain;
            }
        }

        &__name {
            font-size: 1.25rem;
            line-height: 1.5rem;
            margin-bottom: 0.8125rem;
        }

        &__position {
            font-size: 1.125rem;
            line-height: 1.375rem;
            margin-bottom: 1.875rem;
        }

        &__about {
            font-size: 1.125rem;
            line-height: 1.375rem;
            max-width: 100%;
            margin-bottom: 1.25rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
