.corporate {
    width: 100%;

    @include flex-setting(column, center, center);

    background-color: #E2ECF5;

    padding-top: 5.625rem;
    padding-bottom: 3.75rem;

    &__wrapper {
        width: 100%;
        max-width: 1160px;
        @include flex-setting(column, flex-start, flex-start);
    }

    &__title {
        @include font-setting($roboto-font, 3rem, 3.625rem, 500, $black);

        margin-bottom: 2.125rem;
    }

    &__body {
        width: 100%;
        display: grid;
        grid-template-areas:
            'info person'
            'service person'
        ;

        grid-template-columns: 56.89655172413793% 39.6551724137931%;
        grid-column-gap: 2.5rem;
        justify-content: start;
        align-items: start;
        margin-bottom: 3.625rem;
    }

    &__info {
        grid-area: info;
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);

        margin-right: 2.5rem;
        margin-top: 2.5rem;
    }

    &__description {
        @include font-setting($helvetica-neue-font, 1.4375rem, 1.75rem, 550, $black);
        text-align: left;
        margin-bottom: 1rem;

        &:last-of-type {
            margin-bottom: 3.125rem;
        }
    }

    &__services {
        grid-area: service;
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);

        &-title {
            width: 100%;
            @include font-setting($helvetica-neue-font, 2rem, 2.375rem, 500, $black);
            padding-bottom: 1.4375rem;
            text-align: left;

            border-bottom: 1px solid $white;
        }

        &-list {
            width: 100%;

            @include flex-setting(column, flex-start, flex-start);
        }

        &-item {
            position: relative;

            width: 100%;
            @include flex-setting(column, flex-start, flex-start);

            padding-top: 1.4375rem;
            text-align: left;

            border-bottom: 1px solid $white;

            max-height: 72px;
            overflow: hidden;
            transition: 0.4s $cubic;

            cursor: pointer;
            outline: none;

            &::after {
                position: absolute;
                content: '';

                top: 1.4375rem;
                right: 0;

                width: 24px;
                height: 24px;

                background-position: 50% 50%;
                background-size: 50%;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.838806 0.499939L5.33887 5L9.83893 0.499938' stroke='%236D6D6D'/%3E%3C/svg%3E");
                transition: 0.4s $cubic;
            }

            &.active {
                max-height: 300px;
                transition: 0.4s $cubic;

                &::after {
                    transform: rotate(180deg);
                    transition: 0.4s $cubic;
                }
            }
        }

        &-name {
            @include font-setting($helvetica-neue-font, 1.375rem, 1.625rem, 550, $black);
            margin-bottom: 1.4375rem;
        }

        &-text {
            @include font-setting($helvetica-neue-font, 1.25rem, 1.5rem, 400, $black);
            margin-bottom: 1.4375rem;
        }
    }

    &__person {
        grid-area: person;
        width: 100%;
        background-color: $white;

        @include flex-setting(column, flex-start, flex-start);

        border-radius: 10px;
        border: 1px solid #E2ECF5;

        padding: 2.5rem 2.5rem;

        position: relative;

        &::after {
            position: absolute;
            content: '';

            width: 54px;
            height: 44px;

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            background-image: url('../images/content/ticks.svg');

            top: 2.5rem;
            right: 2.5rem;
        }
    }

    &__photo {
        @include flex-setting(column, center, center);

        width: 128px;
        height: 128px;

        border-radius: 64px;
        overflow: hidden;

        margin-bottom: 1.25rem;

        &-image {
            width: 100%;
            height: 100%;

            object-fit: contain;
        }
    }

    &__name {
        @include font-setting($helvetica-neue-font, 2rem, 2.375rem, 550, $black);
        margin-bottom: 0.3125rem;
    }

    &__position {
        @include font-setting($helvetica-neue-font, 1.25rem, 1.5rem, 400, $black);
        margin-bottom: 2.5rem;
        max-width: 360px;
    }

    &__about {
        @include font-setting($helvetica-neue-font, 0.8125rem, 1rem, 400, $black);
        text-align: left;
        max-width: 360px;
        margin-bottom: 1.375rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 719px) {
    .corporate {
        padding-top: 5rem;
        padding-bottom: 2.3125rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        &__title {
            font-size: 2rem;
            line-height: 2.375rem;
            margin-bottom: 2.8125rem;
        }

        &__body {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 4.1875rem;
            flex-direction: column;
            align-items: center;
        }

        &__info {
            margin-right: 0;
            margin-bottom: 2.625rem;
            margin-top: 0;
            order: 1;
        }

        &__description {
            font-size: 1.125rem;
            line-height: 1.375rem;
            margin-bottom: 1.25rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &__services {
            order: 3;

            &-title {
                font-size: 1.75rem;
                line-height: 2.125rem;
                padding-bottom: 1.875rem;
            }

            &-item {
                padding-top: 1.875rem;
                max-height: 84px;

                &::after {
                    top: 1.875rem;
                }

                &.active {
                    max-height: 400px;
                }
            }

            &-name {
                font-size: 1.25rem;
                line-height: 1.5rem;
                margin-bottom: 1.875rem;
            }

            &-text {
                font-size: 1.25rem;
                line-height: 1.5rem;
                margin-bottom: 1.8755rem;
            }
        }

        &__person {
            order: 2;

            background-color: transparent;

            border-radius: none;
            border: none;

            padding: 0;
            margin-bottom: 3.125rem;

            &::after {
                display: none;
            }
        }

        &__photo {
            width: 100%;
            height: 0;
            padding-bottom: 87.5%;
            border-radius: 0;
            overflow: hidden;
            position: relative;
            margin-bottom: 1.875rem;

            &-image {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;

                object-fit: contain;
            }
        }

        &__name {
            font-size: 1.25rem;
            line-height: 1.5rem;
            margin-bottom: 0.8125rem;
        }

        &__position {
            font-size: 1.125rem;
            line-height: 1.375rem;
            margin-bottom: 1.875rem;
        }

        &__about {
            font-size: 1.125rem;
            line-height: 1.375rem;
            max-width: 100%;
            margin-bottom: 1.25rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
