.error {
    width: 100%;

    margin: 0 auto;

    padding-top: 2.625rem;
    padding-bottom: 8.125rem;

    @include flex-setting(column, center, center);

    &__wrapper {
        width: 100%;
        max-width: 1160px;

        @include flex-setting(column, flex-start, center);

        position: relative;

        &::before {
            position: absolute;
            content: '';

            width: 753px;
            height: 384px;

            background-image: url("data:image/svg+xml,%3Csvg width='753' height='385' viewBox='0 0 753 385' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='376.5' cy='192.604' rx='376.5' ry='192' fill='%23DE007C'/%3E%3C/svg%3E");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            bottom: -60%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: blur(100px);
            z-index: 0;
        }
    }

    &__title {
        @include font-setting($helvetica-neue-font, 3rem, 3.625rem, 550, $black);
        margin-bottom: 2.25rem;
    }

    &__image {
        width: 796px;
        height: 362px;
        z-index: 10;

        object-fit: contain;
    }
}
