.error {
    width: 100%;

    margin: 0 auto;

    padding-top: 2.625rem;
    padding-bottom: 8.125rem;

    @include flex-setting(column, center, center);

    &__wrapper {
        width: 100%;
        max-width: 1160px;

        @include flex-setting(column, flex-start, center);

        position: relative;

        &::before {
            position: absolute;
            content: '';

            width: 753px;
            height: 384px;

            background-image: url("data:image/svg+xml,%3Csvg width='753' height='385' viewBox='0 0 753 385' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='376.5' cy='192.604' rx='376.5' ry='192' fill='%23DE007C'/%3E%3C/svg%3E");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            bottom: -60%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: blur(100px);
            z-index: 0;
        }
    }

    &__title {
        @include font-setting($helvetica-neue-font, 3rem, 3.625rem, 550, $black);
        margin-bottom: 2.25rem;
    }

    &__image {
        width: 796px;
        height: 362px;
        z-index: 10;

        object-fit: contain;
    }

    &__link {
        display: none;
    }
}

@media only screen and (max-width: 1365px) {
    .error {
        padding-top: 3.125rem;
        padding-bottom: 4.25rem;

        &__wrapper {
            width: 100%;
            max-width: 640px;

            &::before {
                width: 506px;
                height: 258px;
                bottom: -60%;
            }
        }

        &__title {
            font-size: 1.75rem;
            line-height: 2.25rem;
            margin-bottom: 1rem;
        }

        &__image {
            width: 534px;
            height: 243px;
        }
    }
}

@media only screen and (max-width: 719px) {
    .error {
        padding-bottom: 2.625rem;

        &__wrapper {
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            &::before {
                width: 318px;
                height: 163px;
                bottom: 0%;
                background-image: url("data:image/svg+xml,%3Csvg width='318' height='163' viewBox='0 0 318 163' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='158.831' cy='81.2018' rx='158.565' ry='80.862' fill='%23DE007C'/%3E%3C/svg%3E");
                filter: blur(45px);
            }
        }

        &__title {
            font-size: 1.25rem;
            line-height: 1.5rem;
            margin-bottom: 3.5rem;
        }

        &__image {
            width: 335px;
            height: 152px;
            margin-bottom: 5.5rem;
        }

        &__link {
            display: block;
            @include font-setting($helvetica-neue-font, 1rem, 1.1875rem, 400, $black);
            text-decoration: none;
            cursor: pointer;
            outline: none;

            padding: 0.25rem 0;

            position: relative;
            transition: 0.3s $cubic;

            &::after {
                position: absolute;
                content: '';

                width: 100%;
                height: 1px;

                background-color: $pink;

                transform: scaleX(0);
                transform-origin: center;
                transition: 0.3s $cubic;

                bottom: 0;
                left: 0;
            }

            &::before {
                position: absolute;
                content: '';

                width: 100%;
                height: 1px;

                background-color: #E2ECF5;
                bottom: 0;
                left: 0;
            }

            &:hover,
            &:active {
                color: $pink;
                transition: 0.3s $cubic;

                &:after {
                    transform: scaleX(1);
                    transform-origin: center;
                    transition: 0.3s $cubic;
                }
            }
        }
    }
}
