.favorites {
    width: 100%;

    @include flex-setting(column, center, center);

    margin: 0 auto;

    padding-top: 3.125rem;
    margin-bottom: 4.625rem;

    &__wrapper {
        width: 100%;
        max-width: 1160px;

        @include flex-setting(column, flex-start, flex-start);
    }

    &__title {
        @include font-setting($roboto-font, 3rem, 3.625rem, 500, $black);
        margin-bottom: 3.125rem;
    }

    &__list {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2.5rem;
        grid-row-gap: 3.125rem;
    }
}

@media only screen and (max-width: 1365px) {
    .favorites {
        padding-top: 2.5rem;
        margin-bottom: 2.625rem;

        &__wrapper {
            max-width: 640px;
        }

        &__title {
            font-size: 1.75rem;
            line-height: 2.25rem;
            margin-bottom: 3.375rem;
        }

        &__list {
            grid-column-gap: 1.25rem;
            grid-row-gap: 1.875rem;
        }
    }
}

@media only screen and (max-width: 719px) {
    .favorites {
        padding-top: 2.5rem;
        margin-bottom: 2.375rem;

        &__title {
            font-size: 1.25rem;
            line-height: 1.5rem;
            padding-left: 1.5rem;
            margin-bottom: 1.875rem;
        }

        &__list {
            border-top: 1px solid #E2ECF5;
            grid-template-columns: repeat(2, 50%);
            grid-column-gap: 0;
            grid-row-gap: 0;
        }

        &__item {
            .item__wishlist {
                background-image: url("data:image/svg+xml,%3Csvg width='19' height='17' viewBox='0 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.93681 2.93552L9.40261 3.44633L9.86403 2.93157C11.7117 0.870307 14.4941 0.824716 16.2115 2.54217C17.9566 4.28721 17.9566 7.11646 16.2115 8.86149C16.2026 8.87042 16.0712 9.0022 15.8495 9.22441C15.2303 9.84515 13.9073 11.1716 12.5847 12.497C11.6864 13.3972 10.7881 14.2972 10.1101 14.976C9.8302 15.2562 9.58793 15.4987 9.3987 15.6878C9.20949 15.4987 8.96722 15.2562 8.68735 14.976C8.00932 14.2972 7.11108 13.3972 6.21284 12.497C4.89214 11.1734 3.57097 9.84885 2.95072 9.22702C2.72751 9.00323 2.59508 8.87046 2.58612 8.8615C0.841086 7.11647 0.841086 4.28721 2.58612 2.54218C4.30076 0.827533 7.05798 0.875125 8.93681 2.93552Z' stroke='%23E2ECF5' stroke-width='1.25'/%3E%3C/svg%3E");

                &.active {
                    background-image: url("data:image/svg+xml,%3Csvg width='19' height='17' viewBox='0 0 19 17' fill='%23DE007C' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.93681 2.93552L9.40261 3.44633L9.86403 2.93157C11.7117 0.870307 14.4941 0.824716 16.2115 2.54217C17.9566 4.28721 17.9566 7.11646 16.2115 8.86149C16.2026 8.87042 16.0712 9.0022 15.8495 9.22441C15.2303 9.84515 13.9073 11.1716 12.5847 12.497C11.6864 13.3972 10.7881 14.2972 10.1101 14.976C9.8302 15.2562 9.58793 15.4987 9.3987 15.6878C9.20949 15.4987 8.96722 15.2562 8.68735 14.976C8.00932 14.2972 7.11108 13.3972 6.21284 12.497C4.89214 11.1734 3.57097 9.84885 2.95072 9.22702C2.72751 9.00323 2.59508 8.87046 2.58612 8.8615C0.841086 7.11647 0.841086 4.28721 2.58612 2.54218C4.30076 0.827533 7.05798 0.875125 8.93681 2.93552Z' stroke='%23DE007C' stroke-width='1.25'/%3E%3C/svg%3E");
                }
            }
        }
    }
}
