.filter {
    width: 100%;

    @include flex-setting(column, center, center);

    &__list {
        width: 100%;

        @include flex-setting(column, flex-start, center);
        gap: 0.25rem;
    }

    &__item {
        width: 100%;

        @include flex-setting(column, flex-start, center);
        background-color: $white;
    }

    &__name {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
        @include font-setting($title-font, 1.25rem, 1.222, 400, $black);

        text-transform: uppercase;
        text-align: left;

        padding: 0.875rem 1.75rem;

        position: relative;

        cursor: pointer;

        &::after {
            position: absolute;
            content: '';

            width: 16px;
            height: 11px;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.21264 9.74365L1.12142 3.10303C0.700411 2.64404 0.700411 1.90186 1.12142 1.44775L2.13364 0.344238C2.55465 -0.114746 3.23543 -0.114746 3.65197 0.344238L7.96957 5.05127L12.2872 0.344238C12.7082 -0.114746 13.389 -0.114746 13.8055 0.344238L14.8177 1.44775C15.2387 1.90674 15.2387 2.64893 14.8177 3.10303L8.72649 9.74365C8.31444 10.2026 7.63365 10.2026 7.21264 9.74365Z' fill='black'/%3E%3C/svg%3E%0A");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            top: 50%;
            transform: translateY(-50%);
            right: 1.75rem;
        }

        &.active + .filter__options {
            max-height: 100%;
            visibility: visible;
            pointer-events: all;
            transform-origin: top;
            transition: all 0.2s linear;
        }
    }

    &__options {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        max-height: 0;
        pointer-events: none;
        visibility: hidden;

        transform-origin: top;
        transition: all 0.2s linear;

        &-item {
            width: 100%;
            @include flex-setting(row, flex-start, center);
            padding: 0.625rem 1.875rem;
        }

        &-input {
            display: none;
        }

        &-label {
            @include font-setting($main-font, 1rem, 1.25rem, 400, #000);
            position: relative;
        }

        &-input + label {
            @include checkbox-default;
        }

        &-input + label::before {
            @include custom-checkbox;
        }

        &-input:checked + label::after {
            @include checkbox-checked;
        }

        &-input:hover + label::before {
            @include hover-checkbox;
        }
    }

}
