.gallery {
    width: 100%;
    @include flex-setting(column, flex-start, center);

    &__slider {
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    &__slider.gallery-top {
        width: 100%;
        height: 685px;
        max-height: 685px;
        background-color: $white;
    }

    &__slider.gallery-thumbs {
        width: 100%;
        @include flex-setting(row, flex-start, flex-start);
    }

    &__item {
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        @include flex-setting(column, center, center);

        &--thumb {
            margin-right: 1.875rem;
            border: 1px solid #767A82;
            min-width: 180px;
            width: 180px;
            height: 169px;

            position: relative;

            &:last-child {
                margin-right: 0;
            }

            &.active {
                border-color: $pink;
            }

            .gallery__frame {
                padding: 1.25rem 0;
            }

            &.video-item {
                position: relative;

                &::after {
                    position: absolute;
                    content: '';

                    width: 100%;
                    height: 100%;

                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    background-color: rgba(255, 255, 255, 0.5);
                }

                .gallery__btn {
                    width: 60px;
                    height: 60px;

                    background-color: $black;
                    background-position: 55% 50%;
                    background-repeat: no-repeat;
                    background-size: 27px 31px;
                    background-image: url("data:image/svg+xml,%3Csvg width='27' height='31' viewBox='0 0 27 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27 15.5L-1.42741e-06 30.6554L-1.02484e-07 0.344555L27 15.5Z' fill='white'/%3E%3C/svg%3E%0A");

                    border-radius: 30px;
                    border: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    z-index: 2;

                    cursor: pointer;
                    outline: none;
                }
            }
        }
    }

    &__frame {
        width: 100%;
        height: 100%;

        @include flex-setting(column, center, center);

        &-image {
            width: 100%;
            height: 100%;
            max-height: 528px;

            object-fit: contain;
        }
    }
}

@media only screen and (max-width: 1365px) {
    .gallery {
        padding-top: 3.125rem;

        &__slider.gallery-top {
            height: 310px;
            max-height: 310px;
            margin-bottom: 1.25rem;
        }

        &__slider.gallery-thumbs {
            justify-content: flex-start;
            padding: 0;
        }

        &__item--thumb {
            min-width: 0;
            width: 14.58333333333333vw;
            height: calc(14.58333333333333vw * (14.93333333333334 / 16));

            position: relative;
            margin-right: 0.1875rem;

            .gallery__frame {
                width: 100%;
                height: 100%;
                padding: 0.625rem 0;
            }
        }

        &__frame {
            &-image {
                max-height: 288px;
            }
        }
    }
}

@media only screen and (max-width: 719px) {
    .gallery {
        padding-top: 0;

        &__slider {
            width: 100%;
            overflow: hidden;
            position: relative;
        }

        &__slider.gallery-top {
            height: 325px;
            min-height: 325px;
        }

        &__slider.gallery-thumbs {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        &__item--thumb {
            width: 34.93333333333333vw;
            height: calc(34.93333333333333vw * (15.02290076335878 / 16));

            position: relative;
        }

        &__frame {
            padding: 2.5rem 0;

            &-image {
                width: 100%;
                height: 100%;
                max-height: 528px;

                object-fit: contain;
            }

            &--thumb {
                width: 100%;
                height: 100%;
            }
        }
    }
}
