.greeting {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    @include flex-setting(column, center, center);

    background: rgba(128, 128, 128, 0.2);
    backdrop-filter: blur(80px);

    z-index: 999;

    display: none;

    &.active {
        display: flex;
    }

    &__wrapper {
        width: 100%;
        max-width: 694px;

        @include flex-setting(column, flex-start, flex-start);

        padding: 1.875rem 1.875rem 3rem 3.125rem;
        box-shadow: 1px 1px 16px 1px rgba(0, 0, 0, 0.4);

        animation: fade 2s $cubic 1 forwards;
        background-color: $white;
    }

    &__closer {
        display: block;

        width: 28px;
        height: 28px;

        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='-0.625' x2='19' y2='-0.625' transform='matrix(0.707107 0.707107 0.707107 -0.707107 1.28125 0.38665)' stroke='black' stroke-width='1.25'/%3E%3Cline x1='0.839308' y1='14.3797' x2='14.2743' y2='0.944704' stroke='black' stroke-width='1.25'/%3E%3C/svg%3E");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 80%;
        background-color: transparent;
        border: none;

        cursor: pointer;
        outline: none;

        align-self: flex-end;

        margin-bottom: 0.75rem;
        transition: 0.2s $cubic;

        &:hover,
        &:active {
            background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='-0.625' x2='19' y2='-0.625' transform='matrix(0.707107 0.707107 0.707107 -0.707107 1.28125 0.38665)' stroke='%23e6007e' stroke-width='1.25'/%3E%3Cline x1='0.839308' y1='14.3797' x2='14.2743' y2='0.944704' stroke='%23e6007e' stroke-width='1.25'/%3E%3C/svg%3E");
            transition: 0.2s $cubic;
        }
    }

    &__info {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
    }

    &__title {
        @include font-setting($helvetica-neue-font, 1.25rem, 1.5rem, 550, $pink);
        margin-bottom: 2.5rem;
    }

    &__subtitle {
        @include font-setting($helvetica-neue-font, 1rem, 1.1875rem, 400, $black);
        margin-bottom: 2.5rem;
    }

    &__description {
        @include font-setting($helvetica-neue-font, 1rem, 1.1875rem, 400, #6D6D6D);
        margin-bottom: 2.5rem;
    }

    &__sign {
        max-width: 20%;
        @include font-setting($helvetica-neue-font, 1rem, 1.1875rem, 400, $pink);
        font-style: italic;
        text-align: right;

        align-self: flex-end;
    }

    @supports not (aspect-ratio: 1 / 1) {
        .greeting {
            backdrop-filter: none;
            -webkit-backdrop-filter: none;
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}

@media only screen and (max-width: 1365px) {
    .greeting {
        &__wrapper {
            width: 100%;
            max-width: 600px;

            padding: 3.125rem 2.5rem 3.125rem 2.5rem;
            position: relative;
        }

        &__closer {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            margin-bottom: 0;
            transition: 0.2s $cubic;
        }

        &__subtitle {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }

        &__description {
            margin-bottom: 1.5rem;
        }

        &__sign {
            max-width: 30%;
        }
    }
}

@media only screen and (max-width: 719px) {
    .greeting {
        position: absolute;
        justify-content: flex-start;
        padding-top: 2%;

        &__wrapper {
            position: relative;
            padding: 1.5rem 1.5rem 1.5rem 1.5rem;
            max-width: 96%;
        }

        &__closer {
            width: 25px;
            height: 25px;

            position:absolute;
            top: 1.5rem;
            right: 1.5rem;
        }

        &__title {
            margin-bottom: 1.125rem;
        }

        &__subtitle {
            font-size: 0.875rem;
            line-height: 1.1875rem;
            margin-bottom: 1rem;
        }

        &__description {
            font-size: 0.75rem;
            line-height: 1.2;
            margin-bottom: 1rem;
        }

        &__sign {
            max-width: 50%;
        }
    }
}
