.intro {
    width: 100%;

    @include flex-setting(column, center, center);

    max-width: 1200px;
    margin: 0 auto;

    margin-bottom: 0.5rem;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);

    &__wrapper {
        position: relative;

        width: 100%;
        height: 100%;
    }

    &__title {
        position: absolute;

        top: 4.375rem;
        left: 4.375rem;

        @include font-setting($helvetica-neue-font, 3rem, 1, 400, $white);
        text-transform: uppercase;
        text-align: left;
        max-width: 50%;
    }

    &__logo {
        width: 203px;
        height: 88px;
        object-fit: contain;

        position: absolute;
        left: 4.375rem;
        bottom: 1rem;
    }

    &__annual {
        width: 135px;
        position: absolute;
        @include flex-setting(row, space-between, center);

        top: 16.625rem;
        right: 18.25rem;

        span {
            @include font-setting($geometria-font, 3rem, 1, 400, $white);
            letter-spacing: -0.02em;

            &:last-child {
                color: $darkred;
            }
        }
    }
}
