.intro {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1080px 1fr;
    justify-content: center;
    align-items: start;

    &__wrapper {
        position: relative;

        width: 100%;
        height: 100%;
    }

    &__title {
        position: absolute;

        bottom: 6.25rem;
        right: 12.125rem;

        @include font-setting($roboto-font, 3.125rem, 3.75rem, 500, $white);
        text-transform: uppercase;
        z-index: 2;
    }

    &__frame {
        padding-bottom: 81.48148148148148%;
        position: relative;
        width: 100%;
        height: 0;
        overflow: hidden;

        &-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }

    @supports (aspect-ratio: 16 / 13.03703703703704) {
        .intro__frame {
            height: 100%;
            position: relative;
            padding-bottom: 0;
        }

        .intro__frame-image {
            position: relative;
            top: auto;
            left: auto;
            bottom: auto;
            right: auto;

            aspect-ratio: 16 / 13.03703703703704;
        }
    }

    &__annual {
        width: 183px;
        position: absolute;
        @include flex-setting(row, space-between, center);

        top: 18.9375rem;
        right: 17.1875rem;
        z-index: 2;

        span {
            @include font-setting($roboto-font, 3.875rem, 4.625rem, 500, $white);

            &:last-child {
                color: $darkred;
            }
        }
    }
}
