.menu {
    width: 100%;
    max-width: 0;
    overflow: hidden;
    padding-top: 5.3125rem;
    min-height: 880px;
    @include flex-setting(column, flex-start, flex-start);
    background-color: $white;

    position: absolute;
    right: -3.125rem;
    top: 57px;
    max-width: 0;
    z-index: 10;

    border-bottom: 1px solid #e6e6e6;
    transition: 0.4s $cubic;

    &.opened {
        padding-left: 4.75rem;
        max-width: 840px;
        transition: 0.4s $cubic;
        border-left: 1px solid #e6e6e6;

        .menu__item {
            pointer-events: auto;
            transform: scale(1) translateY(0px);
            will-change: transform;
            opacity: 1;

            @for $i from 1 through $menuItems {
                &:nth-child(#{$i}) {
                    transition-delay: #{0.06 * $i+0.2}s;
                }
            }
        }
    }

    &__item {
        @include flex-setting(column, flex-start, flex-start);
        width: auto;
        position: relative;

        transform: scale(1.15) translateY(-30px);
        opacity: 0;
        transition: transform 0.5s $cubic, opacity 0.6s $cubic;

        margin-bottom: 1.375rem;

        @for $i from 1 through $menuItems {
            &:nth-child(#{$i}) {
                transition-delay: #{0.56 - ($i * 0.07)}s;
            }
        }

        &-inner {
            max-height: 0;
            overflow: hidden;
            transition: 0.2s ease-in;
        }

        &.pressed {
            .menu__item-inner {
                max-height: 150px;
                transition: 0.2s ease-in;
                padding-top: 1.25rem;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        display: block;
        padding-bottom: 0.625rem;

        @include font-setting($helvetica-neue-font, 1.125rem, 1, 400, $black);

        text-decoration: none;
        position: relative;

        transition: 0.3s ease-in-out;

        &::after {
            position: absolute;
            content: '';

            width: 100%;
            height: 1px;

            background-color: #CECECE;

            bottom: 0;
            left: 0;

            transition: 0.3s ease-in;
        }

        &:hover,
        &:active {
            color: $pink;
            transition: 0.3s ease-in-out;

            &::after {
                background-color: $pink;
                transition: 0.3s ease-in;
            }
        }
    }

    &__sublink {
        display: block;
        margin-left: 1.25rem;
        margin-bottom: 1.0625rem;

        @include font-setting($helvetica-neue-font, 0.9375rem, 1, 400, #6D6D6D);

        text-decoration: none;
        position: relative;

        transition: 0.3s ease-in-out;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover,
        &:active {
            color: $pink;
            transition: 0.3s ease-in-out;
        }
    }
}

@supports (aspect-ratio: 1 / 1) {
    .menu__item {
        margin-bottom: 0;
    }

    .menu {
        gap: 1.375rem;
    }
}

@media only screen and (max-width: 1680px) {
    .menu {
        padding-top: 5.3125rem;
        min-height: 100%;
        right: 0;
        aspect-ratio: 16 / 17.70114942528736;

        &.opened {
            padding-left: 5rem;
            max-width: 41.43484626647145%;
        }

        &__link {
            display: block;
            padding-bottom: 0.625rem;
            font-size: 0.9375rem;
        }
    }
}

@media only screen and (max-width: 719px) {
    .menu {
        position: absolute;
        top: 81px;
        left: 0;
        max-width: 100vw;
        width: 100vw;
        overflow: hidden;
        padding-top: 0;
        min-height: 0;
        max-height: 0;
        padding-left: 1.5652rem;

        border-bottom: none;
        transition: 0.4s $cubic;

        &::after {
            position: absolute;
            content: '';

            width: 100vw;
            height: 56px;

            background: linear-gradient(180deg, rgba(222, 0, 124, 0.19) 0%, rgba(222, 0, 124, 0) 100%);

            top: 0;
            left: 0;

            max-height: 0;
            overflow: hidden;

            transition: 0.4s $cubic;
        }

        &.opened {
            max-height: 100vh;
            overflow-y: scroll;
            padding-top: 3.375rem;
            padding-bottom: 6.25rem;
            padding-left: 1.5625rem;
            border-left: none;
            max-width: 100%;
            transition: 0.4s $cubic;

            z-index: 99;

            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;

            &::-webkit-scrollbar { width: 0; }

            &::after {
                max-height: 56px;
                transition: 0.4s $cubic;
            }
        }

        &__link {
            font-size: 0.9375rem;

            &::after {
                background-color: #E2ECF5;
            }
        }
    }
}
