.menu {
    width: 100%;
    max-width: 0;
    overflow: hidden;
    padding-top: 5.3125rem;
    min-height: 880px;
    @include flex-setting(column, flex-start, flex-start);

    background-color: $white;
    gap: 1.375rem;

    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    transition: 0.4s ease-in;

    &.opened {
        padding-left: 4.75rem;
        max-width: 840px;
        transition: 0.4s ease-in;
    }

    &__item {
        @include flex-setting(column, flex-start, flex-start);
        width: auto;
        position: relative;

        &.inner {
            .menu__link {
                margin-bottom: 1.25rem;
            }
        }
    }

    &__link {
        display: block;
        padding-bottom: 0.625rem;

        @include font-setting($helvetica-neue-font, 0.9375rem, 1, 400, $black);

        text-decoration: none;
        position: relative;

        transition: 0.3s ease-in-out;

        &::after {
            position: absolute;
            content: '';

            width: 100%;
            height: 1px;

            background-color: #CECECE;

            bottom: 0;
            left: 0;
        }

        &:hover,
        &:active {
            color: $pink;
            transition: 0.3s ease-in-out;
        }
    }

    &__sublink {
        display: block;
        margin-left: 1.25rem;
        margin-bottom: 1.0625rem;

        @include font-setting($helvetica-neue-font, 0.9375rem, 1, 400, #6D6D6D);

        text-decoration: none;
        position: relative;

        transition: 0.3s ease-in-out;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover,
        &:active {
            color: $pink;
            transition: 0.3s ease-in-out;
        }
    }
}
