.order {
    width: 100%;
    @include flex-setting(column, center, center);

    margin: 0 auto;
    background-color: $white;

    padding: 10rem 4rem;

    &__wrapper {
        width: 100%;
        max-width: 1160px;

        @include flex-setting(column, flex-start, flex-start);
    }

    &__title {
        @include font-setting($roboto-font, 3rem, 3.625rem, 500, $black);

        margin-bottom: 2.25rem;
    }

    &__slider {
        width: 100%;
    }

    &__contents {
        width: 100%;
        display: grid;
        grid-template-areas:
            'block1 block2 block3'
        ;

        grid-template-columns: 260px 260px 560px;
        grid-column-gap: 2.5rem;
        justify-content: space-between;
        align-content: start;
    }

    &__block {
        width: 100%;
        height: 100%;
        @include flex-setting(column, flex-start, center);

        &-head {
            width: 100%;
            min-height: 55px;
            @include flex-setting(column, flex-end, center);
            margin-bottom: 2.25rem;
        }

        &-body {
            width: 100%;

            @include flex-setting(row, flex-start, flex-start);

            padding: 1.875rem 1.5rem 2.375rem 1.5rem;
            border: 1px solid #CECECE;
            border-radius: 10px;

            .order__block-item:first-of-type {
                margin-right: 6.875rem;
            }
        }

        &.--sw {
            grid-area: block3;

            .order__block-image {
                width: 188px;
                height: 30px;
                object-fit: contain;
            }
        }

        &.--sw-desktop {
            display: none;
        }

        &.--swp {
            grid-area: block2;

            .order__block-image {
                width: 234px;
                height: 55px;
                object-fit: contain;
            }

            .order__block-item {
                width: 100%;

                @include flex-setting(column, flex-start, flex-start);

                padding: 1.875rem 1.5rem 2.375rem 1.5rem;
                border: 1px solid #CECECE;
                border-radius: 10px;
            }
        }

        &.--s {
            grid-area: block1;

            .order__block-image {
                width: 98px;
                height: 36px;
                object-fit: contain;
            }

            .order__block-item {
                width: 100%;

                @include flex-setting(column, flex-start, flex-start);

                padding: 1.875rem 1rem 2.375rem 1.5rem;
                border: 1px solid #CECECE;
                border-radius: 10px;
            }
        }

        &-item {
            width: 100%;
            height: 100%;
            @include flex-setting(column, flex-start, flex-start);

        }
    }

    &__name {
        @include font-setting($helvetica-neue-font, 0.9375rem, 1.125rem, 500, $black);
        margin-bottom: 2.375rem;
    }

    &__list {
        width: 100%;
        max-width: 178px;
        @include flex-setting(column, flex-start, center);

        &-item {
            width: 100%;
            margin-bottom: 3.75rem;

            position: relative;

            &::after {
                position: absolute;
                content: '';

                width: 1px;
                height: 30px;

                background-color: $pink;

                bottom: -45px;
                left: 1.25rem;
            }

            span {
                @include font-setting($helvetica-neue-font, 0.8125rem, 1rem, 400, $black);
                text-align: left;
                display: inherit;

                a {
                    color: $black;
                    text-decoration: underline;
                    word-break: break-all;
                    transition: 0.2s ease-in;
                    cursor: pointer;
                    outline: none;

                    &:hover,
                    &:active {
                        color: $pink;
                        transition: 0.2s ease-in;
                    }
                }
            }

            &:last-child {
                margin-bottom: 0;

                &::after {
                    display: none;
                }
            }
        }
    }

    &__details {
        margin-top: 3.125rem;
        padding-left: 1.5rem;

        grid-area: details;
        @include flex-setting(column, flex-start, flex-start);
    }

    &__subtitle {
        @include font-setting($helvetica-neue-font, 1.375rem, 1.625rem, 500, $black);
        margin-bottom: 2.625rem;
    }

    &__note {
        @include font-setting($helvetica-neue-font, 0.8125rem, 1rem, 400, #6D6D6D);
        &:first-of-type {
            margin-bottom: 0.625rem;
        }
    }
}

@media only screen and (max-width: 1365px) {
    .order {
        padding: 6rem 0 3.5rem 0;
        background-color: transparent;

        &__wrapper {
            display: flex;
            flex-direction: column;

            justify-content: flex-start;
            align-content: flex-start;
        }

        &__title {
            font-size: 1.75rem;
            line-height: 2.25rem;
            margin-bottom: 3.5rem;
            margin-left: 2.5rem;
        }

        &__slider {
            @include flex-setting(row, flex-start, flex-start);
        }

        &__contents {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            flex-wrap: nowrap;
            gap: 2.25rem;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            padding-bottom: 0;
            margin-bottom: 0;

            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;

            &::-webkit-scrollbar { width: 0; }
        }

        &__block {
            flex: none;
            scroll-snap-align: center;

            width: auto;
            margin-bottom: 0;
            max-width: 494px;

            @include gapFallback(2.25rem);

            &-head {
                min-height: 48px;
                max-height: 48px;
                margin-bottom: 2rem;
            }

            &-body {
                padding: 1.625rem 1.25rem 2rem 1.25rem;
                border-color: #E2ECF5;

                .order__block-item:first-of-type {
                    margin-right: 5rem;
                }
            }

            &.--sw {
                order: 3;
                .order__block-body {
                    min-height: 326px;
                }

                .order__block-image {
                    width: 165px;
                    height: 26px;
                }
            }

            &.--swp {
                order: 1;

                .order__block-image {
                    width: 206px;
                    height: 48px;
                }

                .order__block-item {
                    padding: 1.625rem 1.25rem 2rem 1.25rem;
                    border-color: #E2ECF5;
                    min-height: 326px;
                }
            }

            &.--s {
                order: 2;

                .order__block-image {
                    width: 85px;
                    height: 32px;
                }

                .order__block-item {
                    padding: 1.625rem 1.25rem 2rem 1.25rem;
                    border-color: #E2ECF5;
                    min-height: 326px;
                }
            }
        }

        &__name {
            font-size: 0.75rem;
            line-height: 0.875rem;
            margin-bottom: 2rem;
        }

        &__list {
            max-width: 156px;

            &-item {
                width: 100%;
                margin-bottom: 3.25rem;

                &::after {
                    height: 26px;

                    bottom: -40px;
                    left: 1.25rem;
                }

                span {
                    font-size: 0.625rem;
                    line-height: 0.75rem;
                }

                &:last-child {
                    margin-bottom: 0;

                    &::after {
                        display: none;
                    }
                }
            }
        }

        &__details {
            margin-top: 3.125rem;
            padding-left: 2.5rem;
        }

        &__subtitle {
            font-size: 1.25rem;
            line-height: 1.375rem;
            margin-bottom: 2rem;
        }

        &__note {
            color: $darkgray;
        }
    }
}

@media only screen and (max-width: 719px) {
    .order {
        padding-top: 5rem;
        padding-bottom: 1.75rem;

        &__title {
            font-size: 2rem;
            line-height: 2.375rem;
            margin-bottom: 3.375rem;
            margin-left: 1.5rem;
            max-width: 70%;
        }

        &__contents {
            gap: 1.25rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            margin-bottom: 3.375rem;
        }

        &__block {
            max-width: 285px;
            @include gapFallback(1.25rem);

            &-head {
                min-height: 55px;
                max-height: 55px;
                margin-bottom: 2.3125rem;
            }


            &-body {
                padding: 2.875rem 2rem 1.6875rem 3.375rem;

                .order__block-item:first-of-type {
                    margin-right: 0;
                }

                .order__block-item:last-of-type {
                    display: none;
                }
            }

            &.--sw-desktop {
                display: flex;
                order: 4;

                .order__block-item {
                    padding: 2.875rem 2rem 1.6875rem 3.375rem;
                    border: 1px solid #E2ECF5;
                    border-radius: 10px;
                    min-height: 379px;
                }
            }

            &.--sw {
                .order__block-body {
                    min-height: 379px;
                }
            }

            &.--swp {
                .order__block-item {
                    padding: 2.875rem 2rem 1.6875rem 3.375rem;
                    min-height: 379px;
                }
            }

            &.--s {
                .order__block-item {
                    padding: 2.875rem 2rem 1.6875rem 3.375rem;
                    min-height: 379px;
                }
            }
        }

        &__name {
            font-size: 0.9375rem;
            line-height: 1.125rem;
            margin-bottom: 2.25rem;
        }

        &__list {
            max-width: 180px;

            &-item {
                margin-bottom: 3.75rem;

                span {
                    font-size: 0.8125rem;
                    line-height: 1rem;
                }

                &:last-child {
                    margin-bottom: 0;

                    &::after {
                        display: none;
                    }
                }
            }
        }

        &__details {
            margin-top: 0;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        &__subtitle {
            font-size: 1.375rem;
            line-height: 1.625rem;
            margin-bottom: 1.875rem;
        }
    }
}
