.popup-rules {
    position: fixed;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    z-index: 99;
    width: 90%;

    padding: 1.25rem 1.25rem;

    @include flex-setting(column, flex-start, center);

    background-color: $white;
    border-radius: 5px;
    box-shadow: 1px 1px 16px 1px rgba(0, 0, 0, 0.4);

    animation: 2s fadeInNorm 1 forwards;

    &__description {
        @include font-setting($helvetica-neue-font, 1rem, 1.5rem, 400, $black);
        margin-bottom: 1.25rem;

        text-align: center;

        a {
            color: $black;
            text-decoration: underline;
            transition: 0.3s $cubic;

            &:hover,
            &:active {
                color: $pink;
                text-decoration-color: $pink;
                transition: 0.3s $cubic;
            }
        }
    }

    &__submit {
        @include flex-setting(column, center, center);
        @include font-setting($helvetica-neue-font, 1.25rem, 1.5rem, 550, $white);

        width: 100%;
        padding: 0;
        height: 50px;

        background-color: $pink;
        border: 1px solid $pink;

        cursor: pointer;
        outline: none;

        transition: 0.2s $cubic;

        &:hover,
        &:active {
            color: $pink;
            background-color: $white;
            transition: 0.2s $cubic;
        }
    }
}

@media only screen and (min-width: 1366px) {
    .popup-rules {
        width: 100%;
        max-width: 800px;
        bottom: 2rem;
        padding: 2.25rem 2.25rem;

        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        &__description {
            display: block;
            font-size: 1.125rem;
            line-height: 1.2;
            text-align: left;
            margin-bottom: 0;
            max-width: 80%;
            margin-right: 2rem;
        }

        &__submit {
            max-width: 240px;
            font-size: 1.5rem;
            height: 60px;
        }
    }
}
