.preview {
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 2.5rem;

    @include flex-setting(column, center, center);

    overflow: hidden;

    &__frame {
        position: relative;
        padding-bottom: 45.833333333333336%;
        width: 100%;
        height: 0;

        &-image {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            object-fit: cover;
            object-position: top;
            width: 100%;
            height: 100%;
        }

        &::before {
            position: absolute;
            content: '';

            width: 100%;
            height: 100%;

            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.27) 100%);

            bottom: 0;
            left: 0;
            right: 0;

            z-index: 1;
        }

        &--mobile {
            display: none;
        }
    }

    &__wrapper {
        position: absolute;
        top: auto;
        bottom: 6.25rem;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        max-width: 1160px;

        @include flex-setting(column, space-between, flex-start);

        z-index: 2;
    }

    &__info {
        @include flex-setting(column, flex-start, flex-start);
        width: 52.9310344%;
    }

    &__title {
        @include font-setting($geometria-font, 3rem, 3.625rem, 500, $white);
        margin-bottom: 2.75rem;
    }

    &__description {
        display: none;
        @include font-setting($helvetica-neue-font, 1.4375rem, 1.75rem, 550, $white);
        text-align: left;
    }
}

@media only screen and (max-width: 1919px) {
    .preview {
        &__frame {
            padding-bottom: 52.7086383601757%;
        }
    }
}

@media only screen and (max-width: 1365px) {
    .preview {

    }
}

@media only screen and (max-width: 719px) {
    .preview {
        &__frame {
            padding-bottom: 133.33333333333334%;

            &-image {
                object-fit: cover;
            }

            &--mobile {
                display: flex;
            }

            &--desktop {
                display: none;
            }
        }

        &__wrapper {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            bottom: 1.25rem;
            left: 0;
            right: 0;
            transform: none;
        }

        &__info {
            width: 100%;
        }

        &__title {
            font-size: 2rem;
            line-height: 2.375rem;
            margin-bottom: 0;
        }
    }
}
