.st {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
    @include flex-setting(column, center, center);

    max-width: 1200px;
    background-color: $white;

    &__wrapper {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 636px 320px 1fr;
        position: relative;
    }

    &__left {
        width: 100%;

        padding: 4rem 0 4rem 4rem;

        @include flex-setting(column, flex-start, flex-start);
    }

    &__logo {
        max-height: 60px;
        object-fit: contain;

        margin-bottom: 2rem;
    }

    &__title {
        @include flex-setting(column, flex-start, flex-start);
        padding: 1rem 4rem;
        background-color: rgba(134, 188, 37, 0.71);
        margin-left: -4rem;
        margin-bottom: 4rem;

        &-text {
            @include font-setting($lato-font, 1.875rem, 1.222, 300, $white);
            text-transform: uppercase;
            letter-spacing: 0.096em;

            &.small {
                font-size: 1.5785rem;
                letter-spacing: 0.07em;
            }
        }
    }

    &__slider {
        width: 100%;
        z-index: 2;
        max-width: 540px;

        overflow: hidden;

        position: relative;
    }

    &__controls {
        width: 70px;
        height: 30px;
        min-height: 30px;
        @include flex-setting(row, space-between, center);

        position: absolute;

        top: 0;
        right: 1.75rem;

        .swiper-button-disabled {
            opacity: 0.4;
        }
    }

    &__prev,
    &__next {
        width: 30px;
        height: 30px;

        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 40%;

        border: none;
        background-color: $st-green;

        z-index: 2;

        cursor: pointer;
    }

    &__prev {
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='40' viewBox='0 0 21 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.0002 -7.61556e-08C20.4805 -0.000896488 20.8704 0.387787 20.8713 0.868019C20.8717 1.09953 20.7798 1.32167 20.6159 1.4852L2.09984 19.9995L20.6159 38.5137C20.9559 38.8537 20.9559 39.405 20.6159 39.745C20.2758 40.085 19.7246 40.085 19.3846 39.745L0.254652 20.6151C-0.0847952 20.2755 -0.0847951 19.7251 0.254652 19.3855L19.3846 0.255646C19.5476 0.0920333 19.7692 -9.63526e-08 20.0002 -7.61556e-08Z' fill='%23fff'/%3E%3C/svg%3E");
        left: 1rem;
    }

    &__next {
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='40' viewBox='0 0 21 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.871118 40C0.390887 40.0009 0.000898064 39.6122 1.34928e-06 39.132C-0.000406248 38.9005 0.091548 38.6783 0.255484 38.5148L18.7715 20.0005L0.255484 1.48628C-0.0845341 1.14627 -0.0845341 0.595031 0.255484 0.255013C0.595501 -0.0850044 1.14674 -0.0850044 1.48675 0.255013L20.6167 19.3849C20.9561 19.7245 20.9561 20.2749 20.6167 20.6145L1.48675 39.7444C1.32371 39.908 1.10214 40 0.871118 40Z' fill='%23fff'/%3E%3C/svg%3E");

        right: 1rem;
    }

    &__slide {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);
        background-color: $white;

        &:nth-child(2) {
            .st__subtitle {
                margin-bottom: 2.25rem;
            }
        }

        &:last-child {
            .st__subtitle {
                margin-bottom: 2.25rem;
            }
        }
    }

    &__subtitle {
        @include font-setting($lato-font, 1.5rem, 1.222, 900, $black);
        text-transform: uppercase;
        letter-spacing: 0.074em;

        margin-bottom: 0.5rem;
    }

    &__note {
        @include font-setting($lato-font, 0.625rem, 1.222, 400, $white);
        text-transform: uppercase;
        padding: 0.25rem 0.25rem;
        background-color: $st-green;
        margin-bottom: 0.5rem;
    }

    &__list {
        width: 100%;
        max-width: 540px;

        @include flex-setting(row, space-between, flex-start);
    }

    &__item {
        width: 48%;
        @include flex-setting(column, flex-start, flex-start);

        &:last-child {
            .st__name {
                letter-spacing: 0.065em;
            }
            .st__subname {
                letter-spacing: 0.015em;
            }
        }
    }

    &__name {
        @include font-setting($lato-font, 1.5rem, 1.222, 300, $black);
        text-transform: uppercase;
        white-space: nowrap;
        margin-bottom: 0.125rem;
        letter-spacing: 0.025em;
    }

    &__subname {
        @include font-setting($lato-font, 1.125rem, 1.222, 300, $black);
        text-transform: uppercase;
        white-space: nowrap;
        letter-spacing: 0.055em;

        margin-bottom: 0.5rem;
    }

    &__description {
        @include font-setting($lato-font, 0.875rem, 1.222, 400, $black);
        text-align: left;

        margin-bottom: 0.75rem;
        max-width: 90%;

        &.box {
            padding-left: 2.5rem;
            position: relative;
            max-width: 520px;

            &::after {
                position: absolute;
                content: '';

                width: 16px;
                height: 16px;

                background-color: $st-green;
                left: 0.25rem;
                top: 0.5rem;
            }
        }
    }

    &__about {
        @include font-setting($lato-font, 0.625rem, 1.222, 900, $black);
        text-transform: uppercase;
    }

    &__right {
        width: 100%;
        height: 100%;

        @include flex-setting(column, flex-start, stretch);
    }

    &__frame {
        width: 100%;
        height: 100%;
        max-height: 600px;
        @include flex-setting(column, center, center);

        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: 600px;
        }
    }

    &__bottom {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        padding: 2rem 2rem;
    }

    &__bonus {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
        margin-bottom: 2rem;

        &-item {
            width: 100%;

            @include flex-setting(column, flex-start, center);
            padding-top: 5.25rem;
            position: relative;
            margin-bottom: 2rem;

            &::after {
                position: absolute;
                content: '';

                top: 0;
                left: 50%;
                transform: translateX(-50%);

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                width: 80px;
                height: 80px;
            }

            &:first-child {
                &::after {
                    background-image: url('../images/content/bonus-1.png');
                }
            }

            &:last-child {
                margin-bottom: 0;

                &::after {
                    background-image: url('../images/content/bonus-2.svg');
                }
            }
        }

        &-name {
            @include font-setting($lato-font, 0.625rem, 1.222, 900, $black);
            text-transform: uppercase;
            margin-bottom: 0.125rem;
        }

        &-description {
            @include font-setting($lato-font, 0.7rem, 1.222, 400, $black);
            text-transform: uppercase;
            margin-bottom: 0.125rem;
            text-align: center;
        }
    }

    &__contacts {
        width: 100%;
        height: 100%;
        @include flex-setting(column, space-between, center);
    }

    &__qr {
        width: 80px;
        height: 80px;
    }

    &__links {
        @include flex-setting(column, flex-start, flex-start);

        a {
            text-decoration: none;
        }

        &-mail {
            @include font-setting($lato-font, 0.6875rem, 1, 900, $black);
            text-transform: uppercase;
            margin-bottom: 0.125rem;
            transition: 0.3s ease-in;

            &:hover,
            &:active {
                color: $bordo;
                transition: 0.3s ease-in;
            }
        }

        &-tel {
            @include font-setting($lato-font, 1.2875rem, 1, 900, $black);
            text-transform: uppercase;
            margin-bottom: 0.25rem;
            transition: 0.3s ease-in;

            &:hover,
            &:active {
                color: $bordo;
                transition: 0.3s ease-in;
            }
        }

        &-insta {
            @include font-setting($lato-font, 0.9125rem, 1, 300, $black);
            text-transform: uppercase;

            padding-left: 1.125rem;
            margin-bottom: 0.25rem;

            position: relative;
            transition: 0.3s ease-in;

            &::after {
                position: absolute;
                content: '';
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                width: 14px;
                height: 14px;

                background-image: url("data:image/svg+xml,%3Csvg height='511pt' viewBox='0 0 511 511.9' width='511pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m510.949219 150.5c-1.199219-27.199219-5.597657-45.898438-11.898438-62.101562-6.5-17.199219-16.5-32.597657-29.601562-45.398438-12.800781-13-28.300781-23.101562-45.300781-29.5-16.296876-6.300781-34.898438-10.699219-62.097657-11.898438-27.402343-1.300781-36.101562-1.601562-105.601562-1.601562s-78.199219.300781-105.5 1.5c-27.199219 1.199219-45.898438 5.601562-62.097657 11.898438-17.203124 6.5-32.601562 16.5-45.402343 29.601562-13 12.800781-23.097657 28.300781-29.5 45.300781-6.300781 16.300781-10.699219 34.898438-11.898438 62.097657-1.300781 27.402343-1.601562 36.101562-1.601562 105.601562s.300781 78.199219 1.5 105.5c1.199219 27.199219 5.601562 45.898438 11.902343 62.101562 6.5 17.199219 16.597657 32.597657 29.597657 45.398438 12.800781 13 28.300781 23.101562 45.300781 29.5 16.300781 6.300781 34.898438 10.699219 62.101562 11.898438 27.296876 1.203124 36 1.5 105.5 1.5s78.199219-.296876 105.5-1.5c27.199219-1.199219 45.898438-5.597657 62.097657-11.898438 34.402343-13.300781 61.601562-40.5 74.902343-74.898438 6.296876-16.300781 10.699219-34.902343 11.898438-62.101562 1.199219-27.300781 1.5-36 1.5-105.5s-.101562-78.199219-1.300781-105.5zm-46.097657 209c-1.101562 25-5.300781 38.5-8.800781 47.5-8.601562 22.300781-26.300781 40-48.601562 48.601562-9 3.5-22.597657 7.699219-47.5 8.796876-27 1.203124-35.097657 1.5-103.398438 1.5s-76.5-.296876-103.402343-1.5c-25-1.097657-38.5-5.296876-47.5-8.796876-11.097657-4.101562-21.199219-10.601562-29.398438-19.101562-8.5-8.300781-15-18.300781-19.101562-29.398438-3.5-9-7.699219-22.601562-8.796876-47.5-1.203124-27-1.5-35.101562-1.5-103.402343s.296876-76.5 1.5-103.398438c1.097657-25 5.296876-38.5 8.796876-47.5 4.101562-11.101562 10.601562-21.199219 19.203124-29.402343 8.296876-8.5 18.296876-15 29.398438-19.097657 9-3.5 22.601562-7.699219 47.5-8.800781 27-1.199219 35.101562-1.5 103.398438-1.5 68.402343 0 76.5.300781 103.402343 1.5 25 1.101562 38.5 5.300781 47.5 8.800781 11.097657 4.097657 21.199219 10.597657 29.398438 19.097657 8.5 8.300781 15 18.300781 19.101562 29.402343 3.5 9 7.699219 22.597657 8.800781 47.5 1.199219 27 1.5 35.097657 1.5 103.398438s-.300781 76.300781-1.5 103.300781zm0 0'/%3E%3Cpath d='m256.449219 124.5c-72.597657 0-131.5 58.898438-131.5 131.5s58.902343 131.5 131.5 131.5c72.601562 0 131.5-58.898438 131.5-131.5s-58.898438-131.5-131.5-131.5zm0 216.800781c-47.097657 0-85.300781-38.199219-85.300781-85.300781s38.203124-85.300781 85.300781-85.300781c47.101562 0 85.300781 38.199219 85.300781 85.300781s-38.199219 85.300781-85.300781 85.300781zm0 0'/%3E%3Cpath d='m423.851562 119.300781c0 16.953125-13.746093 30.699219-30.703124 30.699219-16.953126 0-30.699219-13.746094-30.699219-30.699219 0-16.957031 13.746093-30.699219 30.699219-30.699219 16.957031 0 30.703124 13.742188 30.703124 30.699219zm0 0'/%3E%3C/svg%3E");
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:hover,
            &:active {
                color: $bordo;
                transition: 0.3s ease-in;
            }
        }

        &-fb {
            @include font-setting($lato-font, 1.0325rem, 1, 300, $black);
            text-transform: uppercase;
            letter-spacing: 0.05em;
            padding-left: 1.125rem;

            position: relative;

            margin-bottom: 0.25rem;
            transition: 0.3s ease-in;

            &::after {
                position: absolute;
                content: '';
                left: 0;
                top: 50%;
                transform: translateY(-50%);


                width: 14px;
                height: 14px;

                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m437 0h-362c-41.351562 0-75 33.648438-75 75v362c0 41.351562 33.648438 75 75 75h151v-181h-60v-90h60v-61c0-49.628906 40.371094-90 90-90h91v90h-91v61h91l-15 90h-76v181h121c41.351562 0 75-33.648438 75-75v-362c0-41.351562-33.648438-75-75-75zm0 0'/%3E%3C/svg%3E");
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:hover,
            &:active {
                color: $bordo;
                transition: 0.3s ease-in;
            }
        }

        &-site {
            @include flex-setting(column, center, center);
            @include font-setting($lato-font, 0.6875rem, 1, 700, $white);
            text-transform: uppercase;

            padding: 0.125rem 0.8125rem;
            background-color: $black;

            transition: 0.3s ease-out;

            &:hover,
            &:active {
                color: $black;
                background-color: $white;
                transition: 0.3s ease-out;
            }
        }
    }
}
