.success {
    width: 100%;

    @include flex-setting(column, center, center);

    margin: 0 auto;

    padding-top: 3.125rem;
    margin-bottom: 4.625rem;

    &__wrapper {
        width: 100%;
        max-width: 1160px;

        @include flex-setting(column, flex-start, flex-start);
    }

    &__title {
        @include font-setting($roboto-font, 3rem, 3.625rem, 500, $black);
        margin-bottom: 4.25rem;
        text-align: left;
    }

    &__description {
        @include font-setting($helvetica-neue-font, 1.25rem, 1.75rem, 400, $black);

        text-align: left;
        max-width: 320px;

        margin-bottom: 3.125rem;
    }

    &__contacts {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);

        margin-bottom: 4rem;

        .contacts__link:first-of-type {
            margin-right: 1.25rem;
        }
    }

    &__controls {
        width: auto;

        @include flex-setting(row, flex-start, center);
    }

    &__btn {
        @include font-setting($helvetica-neue-font, 1.4375rem, 1.75rem, 550, $black);
        @include flex-setting(column, center, center);

        text-decoration: none;

        width: auto;
        height: 54px;
        padding: 0 4.75rem;
        margin-right: 2.5rem;

        border: 1px solid $black;
        background-color: transparent;

        cursor: pointer;
        outline: none;

        transition: 0.3s $cubic;

        &:hover,
        &:active {
            border-color: $pink;
            color: $white;
            background-color: $pink;
            transition: 0.3s $cubic;
        }
    }

    &__link {
        @include font-setting($helvetica-neue-font, 1.25rem, 1.5rem, 400, $black);
        text-decoration: none;
        cursor: pointer;
        outline: none;

        padding: 0.25rem 0;

        position: relative;
        transition: 0.3s $cubic;

        &::after {
            position: absolute;
            content: '';

            width: 100%;
            height: 1px;

            background-color: $pink;

            transform: scaleX(0);
            transform-origin: center;
            transition: 0.3s $cubic;

            bottom: 0;
            left: 0;
        }

        &:hover,
        &:active {
            color: $pink;
            transition: 0.3s $cubic;

            &:after {
                transform: scaleX(1);
                transform-origin: center;
                transition: 0.3s $cubic;
            }
        }
    }
}

@media only screen and (max-width: 1365px) {
    .success {
        padding-top: 2.5rem;
        margin-bottom: 2.625rem;

        &__wrapper {
            max-width: 640px;
        }

        &__title {
            font-size: 1.75rem;
            line-height: 2.25rem;
            margin-bottom: 2.5rem;
        }

        &__description {
            font-size: 0.875rem;
            line-height: 1.0625rem;
            max-width: 420px;

            margin-bottom: 2.5rem;
        }

        &__contacts {
            margin-bottom: 2.5rem;
        }

        &__btn {
            height: 50px;
            padding: 0 3.125rem;
            margin-right: 1.25rem;
        }

        &__link {
            font-size: 0.75rem;
            line-height: 0.875rem;
        }
    }
}

@media only screen and (max-width: 719px) {
    .success {
        padding-top: 2.5rem;
        margin-bottom: 2.625rem;

        padding-left: 1.5rem;
        padding-right: 1.5rem;

        &__title {
            font-size: 1.25rem;
            line-height: 1.5rem;
            margin-bottom: 3.125rem;
        }

        &__description {
            font-size: 1.125rem;
            line-height: 1.5625rem;
            margin-bottom: 3.125rem;
        }

        &__controls {
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        &__btn {
            font-size: 1.25rem;
            line-height: 1.5rem;

            width: 100%;
            height: 50px;
            padding: 0;
            margin-right: 0;
            margin-bottom: 1.125rem;

            border-color: $pink;
        }

        &__link {
            font-size: 1rem;
            line-height: 1.1875rem;

            &::before {
                position: absolute;
                content: '';

                width: 100%;
                height: 1px;

                background-color: #E2ECF5;
                bottom: 0;
                left: 0;
            }
        }
    }
}
