.swp-slider {
    width: 100%;
    @include flex-setting(column, flex-start, center);

    background-color: #fff;

    padding-top: 10rem;
    padding-bottom: 10rem;

    position: relative;

    &__wrapper {
        width: 100%;
        max-width: 1160px;
        position: relative;
        overflow: hidden;
    }

    &__item {
        display: grid;
        grid-template-columns: 800px 1fr;
        justify-content: start;
        align-items: stretch;
        width: 100%;
        height: 100%;
        min-height: 480px;

        background-color: $white;

        &:first-of-type {
            position: relative;

            .swp-slider__title {
                max-width: 60%;
            }

            .swp-slider__frame {
                width: 320px;
                height: 480px;

                position: absolute;

                top: 0;
                right: 3.75rem;

                &-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &:nth-of-type(2) {
            .swp-slider__description {
                margin-bottom: 1.75rem;
            }

            .swp-slider__frame {
                width: 440px;
                height: 293px;
                position: absolute;
                right: 3.75rem;
                top: 5.625rem;

                &-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &:last-of-type {
            .swp-slider__title {
                max-width: 55%;
            }

            .swp-slider__head {
                max-width: 558px;
            }

            .swp-slider__frame {
                width: 440px;
                height: 293px;
                position: absolute;
                right: 3.75rem;
                top: 5.625rem;

                &-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    &__info {
        width: 100%;
        height: 100%;

        @include flex-setting(column, flex-start, flex-start);
        background-color: $white;
        padding: 0;
    }

    &__title {
        @include font-setting($roboto-font, 3rem, 3.625rem, 500, $black);
        text-align: left;

        margin-bottom: 2.5rem;
    }

    &__head {
        @include font-setting($helvetica-neue-font, 1.4375rem, 1.75rem, 500, $black);
        max-width: 732px;
        margin-bottom: 2.1875rem;
        text-align: left;
    }

    &__description {
        @include font-setting($helvetica-neue-font, 1.25rem, 1.5, 400, $black);
        text-align: left;
        max-width: 690px;
    }

    &__list li {
        position: relative;
        padding-left: 1.875rem;
        max-width: 546px;

        .swp-slider__description {
            margin-bottom: 1.75rem;
        }

        &::after {
            position: absolute;
            content: '';

            width: 20px;
            height: 1px;

            background-color: $black;

            left: 0;
            top: 0.875rem;
        }
    }

    &__frame {
        width: 100%;
        @include flex-setting(column, center, center);

        &-image {
            width: 100%;
            height: 100%;
        }
    }

    &__prev,
    &__next {
        width: 32px;
        height: 32px;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        border: none;
        background-color: transparent;

        z-index: 2;

        cursor: pointer;
        transition: 0.3s ease-in;
    }

    .swiper-button-disabled {
        opacity: 0;
        transition: 0.3s ease-in;
    }

    &__prev {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='15.5' stroke='%23C4C4C4'/%3E%3Cpath d='M18.0001 11.9999L13.5 16.5L18.0001 21.0001' stroke='%236D6D6D'/%3E%3C/svg%3E");
        --width: calc(100% - 1370px);
        left: calc((var(--width) / 2));
    }

    &__next {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='15.5' transform='matrix(-1 0 0 1 16 16)' stroke='%23C4C4C4'/%3E%3Cpath d='M13.9999 11.9999L18.5 16.5L13.9999 21.0001' stroke='%236D6D6D'/%3E%3C/svg%3E");
        --width: calc(100% - 1370px);
        right: calc((var(--width) / 2));
    }
}
