.swp {
    width: 100%;
    background-color: #f4efe9;
    @include flex-setting(column, flex-start, center);

    margin: 0 auto;
    overflow-x: hidden;

    &__wrapper {
        width: 100%;
        max-width: 1160px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2.5rem;

        grid-template-areas:
            'logo logo'
            'details list'
            'connect list'
        ;

        margin-bottom: 0.5rem;
        align-items: start;
        justify-content: start;

        padding-top: 6.5625rem;
        padding-bottom: 12rem;

        position: relative;

        &::after {
            position: absolute;
            content: '';

            width: 254px;
            height: 566px;

            background-image: url("data:image/svg+xml,%3Csvg width='254' height='566' viewBox='0 0 254 566' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M235.173 302.143V269.6H204.221V302.143H235.173ZM187.309 90.6111C187.309 84.549 186.033 78.168 183.48 71.7869C180.927 65.0868 176.779 57.7486 171.035 49.4532H186.99V0H171.992V17.5479H15.9548V0H0V69.5536H15.9548V49.4532H58.3945C58.0754 52.9628 57.7563 56.4724 57.4372 59.982C57.1181 63.4915 57.1181 67.0011 57.1181 70.5107C57.1181 91.5682 63.5 108.478 75.6256 120.921C88.0704 133.364 104.663 139.426 125.724 139.426C143.593 139.426 158.271 134.64 169.759 125.388C181.565 116.454 187.309 104.968 187.309 90.6111ZM84.5603 94.1206C75.6256 87.1015 70.8392 77.8489 70.8392 66.363C70.8392 63.4915 71.1583 60.6201 71.4774 58.0676C71.7965 55.1962 72.1156 52.6437 72.7538 49.7723H159.867C161.462 53.92 162.739 57.7486 163.696 61.2582C164.334 64.4487 164.972 67.6392 164.972 70.5107C164.972 81.3585 161.143 89.6539 153.485 95.7159C145.827 101.778 135.296 104.649 121.575 104.649C105.94 104.33 93.8141 100.821 84.5603 94.1206ZM186.99 230.675C186.99 230.037 186.99 229.399 186.99 228.442C186.99 227.485 186.671 226.528 186.671 224.932C182.523 219.508 178.374 214.085 173.907 208.98C169.44 203.875 164.653 199.089 160.186 194.622L186.99 195.899V144.85H171.992V163.674H73.0729V146.126H57.4372V218.232H73.0729V195.899H149.018C151.251 199.727 153.166 203.237 154.442 206.427C155.719 209.299 156.357 212.17 156.357 214.404C156.357 218.232 155.719 221.423 154.123 224.294C152.528 227.166 150.294 229.399 147.103 231.313V245.033L182.842 248.542C184.437 245.671 185.714 242.799 186.352 239.928C186.671 236.099 186.99 233.547 186.99 230.675ZM186.671 302.462V253.009H171.673V270.238H72.7538V252.371H57.1181V320.648H72.7538V302.143H186.671V302.462ZM186.671 455.608V406.154H171.992L170.716 419.555L167.206 421.469L91.2613 391.797L167.206 364.678L170.716 367.549L171.992 380.949H186.671V314.905H171.992L170.397 330.539L57.1181 372.016V395.626L170.078 440.293L171.992 455.289H186.671V455.608ZM118.384 566H123.171C148.699 566 161.462 559.938 171.673 550.366C181.884 540.795 187.309 527.395 187.309 510.485C187.309 491.661 180.927 477.622 168.482 465.498C156.038 453.374 139.764 447.312 119.98 447.312C100.196 447.312 84.5603 453.055 72.4347 464.86C60.3091 476.665 54.5653 492.299 54.5653 511.761C54.5653 520.694 55.8417 529.947 58.3945 539.2C60.9472 548.133 64.7764 557.386 69.8819 566L85.8367 560.576C81.3693 552.281 80.7312 551.005 78.4975 543.666C75.9447 536.647 74.9874 529.628 74.9874 522.609C74.9874 509.528 79.1357 499.318 87.7513 491.661C96.0477 484.003 109.45 480.494 117.427 480.494H118.065V566H118.384ZM172.95 508.89C172.95 536.009 132.106 532.499 132.106 532.499V480.813C142.955 480.813 172.95 482.727 172.95 508.89ZM254 558.024V525.799L204.221 500.275V517.823L254 558.024Z' fill='%23cdc6ba'/%3E%3C/svg%3E");
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;

            top: 20rem;
            right: -20.625rem;
        }
    }

    &__link {
        grid-area: logo;
        @include flex-setting(column, center, center);

        width: 559px;
        height: 131px;

        margin-bottom: 3rem;

        &-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__details {
        grid-area: details;
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);

        &-head {
            @include font-setting($helvetica-neue-font, 1.4375rem, 1.75rem, 550, $black);
            text-align: left;
            margin-bottom: 2.1875rem;
            max-width: 530px;

            a {
                color: $dark-bordo;
                text-decoration: none;
            }
        }

        &-description {
            @include font-setting($helvetica-neue-font, 1.25rem, 1.5rem, 400, $black);
            text-align: left;
            margin-bottom: 3rem;
            max-width: 500px;
        }
    }

    &__list {
        grid-area: list;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2.5rem;
        grid-row-gap: 3.75rem;

        &-item {
            @include flex-setting(column, flex-start, flex-start);

            span {
                display: block;

                width: 27px;
                height: 23px;
                margin-bottom: 1.875rem;

                background-position: left center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            @for $i from 1 through 9 {
                &.icon-#{$i} {
                    span {
                        background-image: url('../images/content/icon-' + $i + '.svg');
                    }
                }
            }
        }

        &-description {
            @include font-setting($helvetica-neue-font, 0.75rem, 0.875rem, 400, $black);

            &:nth-child(2) {
            .swp__description {
                    max-width: 70%;
                }
            }

            &:nth-child(5) {
                .swp__description {
                    max-width: 60%;
                }
            }

            &:last-child {
                .swp__description {
                    max-width: 65%;
                }
            }
        }
    }

    &__connect {
        grid-area: connect;
        @include font-setting($helvetica-neue-font, 0.9375rem, 1.125rem, 400, $darkgray);

        text-align: left;
        max-width: 327px;

        &-link {
            color: $darkgray;
            text-decoration: underline;
            transition: 0.4s $cubic;

            cursor: pointer;

            &:hover,
            &:active {
                color: $pink;
                text-decoration-color: $pink;
                transition: 0.4s $cubic;
            }
        }
    }
}

@media only screen and (max-width: 1365px) {
    .swp {
        padding-top: 2.25rem;

        &__wrapper {
            max-width: 640px;
            grid-column-gap: 2.625rem;
            margin-bottom: 4.375rem;
            padding-top: 0;
            padding-bottom: 0;

            &::after {
                width: 129px;
                height: 288px;

                top: 10rem;
                --width: calc(100% - 640px);
                right: calc(var(--width) / 2);
            }
        }

        &__link {
            width: 284px;
            height: 67px;

            margin-bottom: 2.5rem;
        }

        &__details {
            &-head {
                font-size: 0.875rem;
                line-height: 1.0625rem;
                margin-bottom: 1.125rem;
                max-width: 270px;
            }

            &-description {
                font-size: 0.625rem;
                line-height: 0.75rem;
                margin-bottom: 0;
                max-width: 254px;
            }
        }

        &__list {
            grid-column-gap: 1.25rem;
            grid-row-gap: 1.25rem;

            &-item {
                span {
                    width: 17px;
                    height: 9px;
                    margin-bottom: 1rem;
                }

                &.icon-1 {
                    span {
                        width: 12px;
                        height: 10.5px;
                    }
                }

                &.icon-2 {
                    span {
                        width: 11.7px;
                        height: 11.7px;
                    }
                }

                &.icon-3 {
                    span {
                        width: 14px;
                        height: 9px;
                    }
                }

                &.icon-4 {
                    span {
                        width: 12px;
                        height: 12px;
                    }
                }

                &.icon-5 {
                    span {
                        width: 9.6px;
                        height: 11.2px;
                    }
                }

                &.icon-6 {
                    span {
                        width: 13.8px;
                        height: 8.6px;
                    }
                }

                &.icon-7 {
                    span {
                        width: 10.2px;
                        height: 10.2px;
                    }
                }

                &.icon-8 {
                    span {
                        width: 17px;
                        height: 9px;
                    }
                }

                &.icon-9 {
                    span {
                        width: 10.2px;
                        height: 11.2px;
                    }
                }
            }

            &-description {
                font-size: 0.5626rem;
                line-height: 0.8125rem;

                &:nth-child(2) {
                .swp__description {
                        max-width: 70%;
                    }
                }

                &:nth-child(5) {
                    .swp__description {
                        max-width: 60%;
                    }
                }

                &:last-child {
                    .swp__description {
                        max-width: 65%;
                    }
                }
            }
        }

        &__connect {
            font-size: 0.625rem;
            line-height: 0.75rem;
            max-width: 254px;
        }
    }
}

@media only screen and (max-width: 719px) {
    .swp {
        &__wrapper {
            grid-template-columns: 1fr;
            grid-column-gap: 0;
            grid-template-areas:
                'logo'
                'details'
                'list'
                'connect'
            ;

            margin-bottom: 3.125rem;
            align-items: start;
            justify-content: center;

            padding-top: 3.4375rem;
            padding-left: 1.5625rem;
            padding-right: 1.5625rem;
            padding-bottom: 0;

            &::after {
                display: none;
            }
        }

        &__link {
            width: 335px;
            height: 76px;

            margin-bottom: 3.625rem;
        }

        &__details {
            margin-bottom: 3.4375rem;

            &-head {
                font-size: 1.125rem;
                line-height: 1.375rem;

                margin-bottom: 1.25rem;
                max-width: 100%;
            }

            &-description {
                font-size: 1rem;
                line-height: 1.1875rem;
                margin-bottom: 0;
                max-width: 100%;
            }
        }

        &__list {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 1.5625rem;
            grid-row-gap: 2.5rem;
            margin-bottom: 4.125rem;

            &-item {
                span {
                    margin-bottom: 1.875rem;
                }

                &.icon-1 {
                    span {
                        width: 23.5px;
                        height: 20.6px;
                    }
                }

                &.icon-2 {
                    span {
                        width: 23px;
                        height: 23px;
                    }
                }

                &.icon-3 {
                    span {
                        width: 27.3px;
                        height: 17.3px;
                    }
                }

                &.icon-4 {
                    span {
                        width: 23.6px;
                        height: 23.6px;
                    }
                }

                &.icon-5 {
                    span {
                        width: 18.8px;
                        height: 22.1px;
                    }
                }

                &.icon-6 {
                    span {
                        width: 27px;
                        height: 17px;
                    }
                }

                &.icon-7 {
                    span {
                        width: 20px;
                        height: 20px;
                    }
                }

                &.icon-8 {
                    span {
                        width: 33.3px;
                        height: 17.5px;
                    }
                }

                &.icon-9 {
                    span {
                        width: 20px;
                        height: 22px;
                    }
                }
            }

            &-description {
                font-size: 0.75rem;
                line-height: 0.875rem;
            }
        }

        &__connect {
            font-size: 1rem;
            line-height: 1.1875rem;
            max-width: 95%;
        }
    }
}
