.to-catalog {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    margin-bottom: 0.25rem;
    @include flex-setting(column, center, center);

    background-color: $white;

    &__wrapper {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    &__title {
        @include font-setting($geometria-font, 2.5rem, 1, 400, $pink);
        margin-bottom: 4rem;
    }

    &__list {
        width: 100%;
        max-width: 1060px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 0.875rem;
        grid-row-gap: 0.875rem;

        margin-bottom: 4rem;
    }

    &__link {
        @include font-setting($geometria-font, 2rem, 1, 400, $pink);
        opacity: 0.6;
        text-decoration: none;
        transition: 0.3s ease-in;

        &:hover,
        &:active {
            opacity: 1;
            transition: 0.3s ease-in;
        }
    }
}
