.header {
    width: 100%;
    background-color: white;
    margin: 0 auto;
    @include flex-setting(column, center, center);
    padding: 1.375rem 3.125rem 1.25rem 3.125rem;
    border-bottom: 1px solid #e6e6e6;

    position: absolute;
    top: 0;

    transition: 0.4s $cubic;

    &.scrolling {
        position: fixed;
        transition: 0.4s $cubic;

        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);

        z-index: 10;
    }

    &__wrapper {
        width: 100%;
        max-width: 1920px;
        @include flex-setting(row, flex-start, center);

        position: relative;
    }

    &__menu {
        position: absolute;
        right: -3.125rem;
        top: 57px;
        max-width: 0;
        overflow: hidden;

        z-index: 10;
        transition: 0.4s ease-in;

        &.opened {
            max-width: 847px;
            transition: 0.4s ease-in;
        }
    }

    &__logo {
        @include flex-setting(column, center, center);
        width: 96.45px;
        height: 36.2px;
        margin-right: 3.625rem;

        &-link {
            display: flex;
            width: inherit;
            height: inherit;
        }

        &-img {
            object-fit: contain;
        }
    }

    &__catalog {
        position: relative;
        @include font-setting($helvetica-neue-font, 0.9375rem, 1, 400, $black);
        padding-left: 2rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        margin-left: 2.375rem;

        cursor: pointer;
        outline: none;

        background-color: transparent;
        border: none;
        transition: 0.2s ease-in;

        &::after {
            position: absolute;
            content: '';

            left: 0;
            top: 50%;
            transform: translateY(-50%);

            width: 24px;
            height: 24px;

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 60%;
            transition: 0.2s ease-in;
            background-image: url("data:image/svg+xml,%3Csvg width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.625' y='0.625' width='10.75' height='14.75' stroke='black' stroke-width='1.25'/%3E%3Cpath d='M0 4L4 4' stroke='black'/%3E%3Cpath d='M0 8L4 8' stroke='black'/%3E%3Cpath d='M0 12L4 12' stroke='black'/%3E%3C/svg%3E%0A");
        }

        &::before {
            position: absolute;
            content: '';
            width: 500px;
            height: 1px;
            background-color: $white;
            bottom: -27px;
            left: 500%;
            transition: 0.2s ease-in;

            z-index: 100;
        }

        &:hover,
        &:active {
            color: $pink;
            transition: 0.2s ease-in;
            &::after {
                background-image: url("data:image/svg+xml,%3Csvg width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.625' y='0.625' width='10.75' height='14.75' stroke='%23e6007e' stroke-width='1.25'/%3E%3Cpath d='M0 4L4 4' stroke='%23e6007e'/%3E%3Cpath d='M0 8L4 8' stroke='%23e6007e'/%3E%3Cpath d='M0 12L4 12' stroke='%23e6007e'/%3E%3C/svg%3E%0A");
                transition: 0.2s ease-in;
            }
        }

        &.active {
            &::before {
                left: -38px;
                transition: 0.2s ease-in;
            }
        }
    }

    &__contacts {
        position: absolute;
        top: 57px;
        right: 22.3125rem;
        max-height: 0;
        overflow: hidden;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        background-color: transparent;

        @include flex-setting(column, flex-start, flex-start);
        transition: 0.4s $cubic;
        pointer-events: none;
        z-index: 999;
        border: 1px solid transparent;
        border-top: none;

        .contacts__block {
            margin-bottom: 1.25rem;
            transform: scale(1.15) translateY(-30px);
            opacity: 0;
            transition: transform 0.5s $cubic, opacity 0.6s $cubic;

            @for $i from 1 through $contactsItems {
                &:nth-child(#{$i}) {
                    transition-delay: #{0.56 - ($i * 0.07)}s;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.opened {
            background-color: $white;
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
            max-height: 500px;
            transition: 0.4s $cubic;
            pointer-events: all;

            border-color: #e6e6e6;

            .contacts__block {
                pointer-events: auto;
                transform: scale(1) translateY(0px);
                will-change: transform;
                opacity: 1;

                @for $i from 1 through $contactsItems {
                    &:nth-child(#{$i}) {
                        transition-delay: #{0.06 * $i+0.2}s;
                    }
                }
            }
        }
    }
}
