.header {
    width: 100%;
    max-width: 1920px;

    background-color: white;
    margin: 0 auto;
    @include flex-setting(row, flex-start, center);
    padding: 1.5rem 25rem 1.25rem 3.125rem;

    &__logo {
        @include flex-setting(column, center, center);
        width: 97px;
        height: 36px;
        margin-right: 14.25rem;

        &-link {
            display: flex;
            width: inherit;
            height: inherit;
        }

        &-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__controls {
        margin-left: auto;
        margin-right: 0;
    }
}
