footer.footer
    .footer__wrapper
        .footer__order.how-order
            h2.how-order__title Заказать вино просто
            
            .how-order__wrapper
                ul.how-order__heading
                    li.how-order__heading-item
                        img(src="static/images/content/swine-logo.svg" alt="SimpleWine").how-order__heading-image
                    li.how-order__heading-item
                        img(src="static/images/content/swp-logo.svg" alt="SimpleWinePrive").how-order__heading-image
                    li.how-order__heading-item
                        img(src="static/images/content/simple-logo.svg" alt="Simple").how-order__heading-image
                .how-order__content
                    .how-order__body.first
                        h3.how-order__name В винотеке SimpleWine
                        ul.how-order__list 
                            li.how-order__item
                                span Найдите близлежащую винотеку на 
                                    a(href="https://www.simplewine.ru/nashi-vinoteki" target="_blank") simplewine.ru/nashi-vinoteki
                            li.how-order__item
                                span Кавист поможет определиться с выбором
                            li.how-order__item
                                span Вам упакуют заказ и помогут донести его до машины
                    .how-order__body.second
                        h3.how-order__name Онлайн-витрина
                        ul.how-order__list
                            li.how-order__item
                                span Выбирайте лучшее на 
                                    a(href="https://www.simplewine.ru" target="_blank") simplewine.ru
                            li.how-order__item
                                span После оформления заказа оператор позвонит Вам для подтверждения
                            li.how-order__item
                                span Получите заказ в винотеке SimpleWine удобным для Вас способом
                    .how-order__body.third
                        h3.how-order__name У персонального менеджера
                        span.how-order__info (для членов клуба)
                        ul.how-order__list 
                            li.how-order__item
                                span 
                                    | Позвоните 
                                    a(href="tel:+74955106865" target="_blank") +7 495 510 6865 
                                    | или напишите: 
                                    a(href="mailto:vip@simple.ru" target="_blank") vip@simple.ru
                            li.how-order__item
                                span Менеджер поможет определиться с выбором
                            li.how-order__item
                                span Получите заказ удобным для Вас способом
                    .how-order__body.fourth
                        h3.how-order__name У корпоративного менеджера
                        ul.how-order__list 
                            li.how-order__item
                                span 
                                    | Позвоните 
                                    a(href="tel:+74955106865" target="_blank") +7 495 510 6865 
                                    | или напишите: 
                                    a(href="mailto:vip@simple.ru" target="_blank") vip@simple.ru
                            li.how-order__item
                                span Менеджер поможет определиться с выбором
                            li.how-order__item
                                span Получите заказ удобным для Вас способом

            b.how-order__subtitle Все вина можно заказать в подарочной упаковке.
            p.how-order__note * Подробности уточняйте у менеджера по телефону.
            p.how-order__note Simple не осуществляет дистанционную продажу алкогольной продукции, как того требует действующее законодательство РФ.
        .footer__contacts.contacts
            .contacts__wrapper
                .contacts__block.contacts__block--msk
                    h3.contacts__title Москва
                    a(href="tel:+74955106865" target="_blank").contacts__link +7 495 510 6865
                    a(href="tel:+74955105001*4801" target="_blank").contacts__link +7 495 510 5001, доб. 4801
                    a(href="mailto:vip@simple.ru" target="_blank").contacts__link vip@simple.ru
                .contacts__block.contacts__block--spb
                    h3.contacts__title Санкт-Петербург
                    a(href="tel:+78123631100*4802" target="_blank").contacts__link +7 812 363 1100, доб. 4802
                    a(href="mailto:vip-spb@simple.ru" target="_blank").contacts__link vip-spb@simple.ru
                .contacts__block.contacts__block--rest
                    h3.contacts__title Регионы России
                    a(href="tel:+74955105001*2430" target="_blank").contacts__link +7 495 510 5001, доб. 2430
                    a(href="mailto:vip-region@simple.ru" target="_blank").contacts__link vip-region@simple.ru
            .contacts__bottom
                img(src="static/images/content/simple-logo.svg" alt="Simple").contacts__logo
                ul.contacts__list
                    li.contacts__item
                        a(href="https://www.simple.ru" alt="Simple").contacts__item-link simple.ru
                    li.contacts__item
                        a(href="https://www.simplewine.ru" alt="Simple").contacts__item-link simplewine.ru
                    li.contacts__item
                        ul.contacts__social
                            li.contacts__social-item
                                a(href="#" target="_blank").scontacts__social-link.fb
                            li.contacts__social-item
                                a(href="#" target="_blank").contacts__social-link.in
                        span SimpleWine
                a(href="tel:+78007005001*5001" target="_blank").contacts__phone 
                    | *5001 
                    span (с мобильного) 
                    | 8 800 700 5001
