footer.footer
    .footer__wrapper
        .footer__block
            a(href="https://www.simple.ru/" target="_blank").footer__link simple.ru
            a(href="https://simplewine.ru/" target="_blank").footer__link simplewine.ru
        .footer__block
            a(href="#" target="_blank").footer__link.footer__link--policy Политика конфиденциальности
        .footer__block
            p.footer__copy &copy; 2021, Simple. Все права сохранены
        .footer__block
            p.footer__origin Сделано в 
                a(href="https://mediaaid.ru/" target="_blank") mad!
