footer.footer
    .footer__wrapper
        .footer__block
            a(href="https://www.simple.ru/" target="_blank").footer__link simple.ru
            a(href="https://simplewine.ru/" target="_blank").footer__link simplewine.ru
        .footer__block
            a(href="https://simplewine.ru/privacy_policy/" target="_blank").footer__link.footer__link--policy Политика конфиденциальности
            a(href="https://simplewine.ru/terms/" target="_blank").footer__link.footer__link--terms Условия продажи
        .footer__block
            a(href="" target="_blank").footer__link.footer__link--terms PDF версия каталога
        .footer__block
            p.footer__copy &copy; 2021, Simple. Все&nbsp;права&nbsp;сохранены
