footer.footer
    .footer__wrapper
        .footer__contacts.contacts
            .contacts__wrapper
                .contacts__block.contacts__block--msk
                    h3.contacts__title Москва
                    a(href="tel:+74955106865" target="_blank").contacts__link +7 495 510 6865
                    a(href="tel:+74955105001*4801" target="_blank").contacts__link +7 495 510 5001, доб. 4801
                    a(href="mailto:vip@simple.ru" target="_blank").contacts__link vip@simple.ru
                .contacts__block.contacts__block--spb
                    h3.contacts__title Санкт-Петербург
                    a(href="tel:+78123631100*4802" target="_blank").contacts__link +7 812 363 1100, доб. 4802
                    a(href="mailto:vip-spb@simple.ru" target="_blank").contacts__link vip-spb@simple.ru
                .contacts__block.contacts__block--rest
                    h3.contacts__title Регионы России
                    a(href="tel:+74955105001*2430" target="_blank").contacts__link +7 495 510 5001, доб. 2430
                    a(href="mailto:vip-region@simple.ru" target="_blank").contacts__link vip-region@simple.ru
            .contacts__bottom
                img(src="static/images/content/simple-logo.svg" alt="Simple").contacts__logo
                ul.contacts__list
                    li.contacts__item
                        a(href="https://www.simple.ru" alt="Simple").contacts__item-link simple.ru
                    li.contacts__item
                        a(href="https://www.simplewine.ru" alt="Simple").contacts__item-link simplewine.ru
                    li.contacts__item
                        ul.contacts__social
                            li.contacts__social-item
                                a(href="#" target="_blank").contacts__social-link.fb
                            li.contacts__social-item
                                a(href="#" target="_blank").contacts__social-link.in
                        span SimpleWine
                a(href="tel:+78007005001*5001" target="_blank").contacts__phone 
                    | *5001 
                    span (с мобильного)
                    br
                    | 8 800 700 5001
